In [1]:
import pandas as pd
import numpy as np

In [137]:
df = pd.read_csv('all-counties.csv')
df.head()

,GEOID,year,name,parent.location,population,poverty.rate,renter.occupied.households,pct.renter.occupied,median.gross.rent,median.household.income,...,pct.nh.pi,pct.multiple,pct.other,eviction.filings,evictions,eviction.rate,eviction.filing.rate,low.flag,imputed,subbed
0,2013,2009,Aleutians East Borough,Alaska,2959.0,8.37,263,58.59,654.0,56250.0,...,0.34,5.58,0.14,0.0,NaN,NaN,0.0,0,0,1
1,2013,2010,Aleutians East Borough,Alaska,3141.0,6.28,268,48.46,847.0,58125.0,...,0.60,3.72,0.03,0.0,NaN,NaN,0.0,0,0,1
2,2013,2013,Aleutians East Borough,Alaska,3304.0,12.74,274,46.52,930.0,61518.0,...,1.12,3.18,0.00,0.0,NaN,NaN,0.0,0,0,1
3,2013,2015,Aleutians East Borough,Alaska,3304.0,12.74,278,46.52,930.0,61518.0,...,1.12,3.18,0.00,0.0,NaN,NaN,0.0,0,0,1
4,2016,2016,Aleutians West Census Area,Alaska,5684.0,5.81,849,67.75,1270.0,84306.0,...,2.45,4.40,0.11,0.0,NaN,NaN,0.0,0,0,1

In [139]:
zhvi = pd.read_csv('Datasets/Zillow/County_zhvi.csv')
zhvi.head(1)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,208647.919509,...,865153.204373,864132.88676,859326.994934,855511.376681,856150.753342,859330.357288,861428.53275,865092.978391,870313.709819,876958.430862

In [140]:
keep_columns = ['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'State', 'Metro', 'StateCodeFIPS', 'MunicipalCodeFIPS']

In [141]:
def process_data_to_csv(name, value, filename):
    df = pd.read_csv(name)
    date_columns = pd.to_datetime(df.columns, format='%Y-%m-%d', errors='coerce')
    date_mask = ~date_columns.isna()
    df.head()
    yearly_data = {}
    for year in range(2000, 2025):
        year_cols = df.columns[date_columns.year == year]
        if not year_cols.empty:
            yearly_data[str(year)] = df[year_cols].sum(axis=1)
    result = pd.concat([df[keep_columns], pd.DataFrame(yearly_data)], axis=1)
    print(result.head())
    
    id_vars = keep_columns
    
    value_vars = [str(year) for year in range(2000, 2025) if str(year) in result.columns]
    melted_df = pd.melt(result, id_vars=id_vars, value_vars=value_vars, var_name='Year', value_name=value)

    melted_df['Year'] = melted_df['Year'].astype(int)

    column_order = ['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'State', 'Metro', 'StateCodeFIPS', 'MunicipalCodeFIPS', 'Year', value]
    final_result = melted_df[column_order]

    final_result = final_result.sort_values(['SizeRank', 'Year'])
    print(final_result.head())

    final_result.to_csv(filename, index=False)

In [142]:
process_data_to_csv('Datasets/Zillow/County_zhvi.csv', "ZHVI", "zillow_zhvi.csv")
# process_data_to_csv('Datasets/Zillow/County_zori.csv', "ZORI", "zillow_zori.csv")

   RegionID  SizeRank          RegionName RegionType StateName State  \
0      3101         0  Los Angeles County     county        CA    CA
1       139         1         Cook County     county        IL    IL
2      1090         2       Harris County     county        TX    TX
3      2402         3     Maricopa County     county        AZ    AZ
4      2841         4    San Diego County     county        CA    CA

                                  Metro  StateCodeFIPS  MunicipalCodeFIPS  \
0    Los Angeles-Long Beach-Anaheim, CA              6                 37
1    Chicago-Naperville-Elgin, IL-IN-WI             17                 31
2  Houston-The Woodlands-Sugar Land, TX             48                201
3             Phoenix-Mesa-Chandler, AZ              4                 13
4    San Diego-Chula Vista-Carlsbad, CA              6                 73

           2000  ...          2015          2016          2017          2018  \
0  2.603609e+06  ...  5.694052e+06  5.914422e+06  6.426821e+06  7.168119e+06
1  1.820032e+06  ...  2.359849e+06  2.500933e+06  2.634766e+06  2.770733e+06
2  1.315267e+06  ...  1.958175e+06  2.090661e+06  2.181831e+06  2.284456e+06
3  1.763407e+06  ...  2.631749e+06  2.865519e+06  3.047412e+06  3.277187e+06
4  2.731946e+06  ...  5.667175e+06  6.106265e+06  6.555506e+06  6.967234e+06

           2019          2020          2021          2022          2023  \
0  7.427803e+06  7.834130e+06  8.936506e+06  9.984229e+06  9.900400e+06
1  2.810937e+06  2.888756e+06  3.176255e+06  3.408156e+06  3.457157e+06
2  2.391130e+06  2.491037e+06  2.812996e+06  3.302508e+06  3.349558e+06
3  3.481223e+06  3.831279e+06  4.741004e+06  5.752086e+06  5.484300e+06
4  7.081697e+06  7.466002e+06  8.773256e+06  1.028006e+07  1.032872e+07

           2024
0  7.768246e+06
1  2.717499e+06
2  2.534720e+06
3  4.221149e+06
4  8.362024e+06

[5 rows x 34 columns]
       RegionID  SizeRank          RegionName RegionType StateName State  \
0          3101         0  Los Angeles County     county        CA    CA
3074       3101         0  Los Angeles County     county        CA    CA
6148       3101         0  Los Angeles County     county        CA    CA
9222       3101         0  Los Angeles County     county        CA    CA
12296      3101         0  Los Angeles County     county        CA    CA

                                    Metro  StateCodeFIPS  MunicipalCodeFIPS  \
0      Los Angeles-Long Beach-Anaheim, CA              6                 37
3074   Los Angeles-Long Beach-Anaheim, CA              6                 37
6148   Los Angeles-Long Beach-Anaheim, CA              6                 37
9222   Los Angeles-Long Beach-Anaheim, CA              6                 37
12296  Los Angeles-Long Beach-Anaheim, CA              6                 37

       Year          ZHVI
0      2000  2.603609e+06
3074   2001  2.851955e+06
6148   2002  3.229453e+06
9222   2003  3.832962e+06
12296  2004  4.753897e+06

In [143]:
zhvi = pd.read_csv('zillow_zhvi.csv')
zhvi.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,Year,ZHVI
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,2000,2.603609e+06
1,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,2001,2.851955e+06
2,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,2002,3.229453e+06
3,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,2003,3.832962e+06
4,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,2004,4.753897e+06

In [144]:
df.head()

,GEOID,year,name,parent.location,population,poverty.rate,renter.occupied.households,pct.renter.occupied,median.gross.rent,median.household.income,...,pct.nh.pi,pct.multiple,pct.other,eviction.filings,evictions,eviction.rate,eviction.filing.rate,low.flag,imputed,subbed
0,2013,2009,Aleutians East Borough,Alaska,2959.0,8.37,263,58.59,654.0,56250.0,...,0.34,5.58,0.14,0.0,NaN,NaN,0.0,0,0,1
1,2013,2010,Aleutians East Borough,Alaska,3141.0,6.28,268,48.46,847.0,58125.0,...,0.60,3.72,0.03,0.0,NaN,NaN,0.0,0,0,1
2,2013,2013,Aleutians East Borough,Alaska,3304.0,12.74,274,46.52,930.0,61518.0,...,1.12,3.18,0.00,0.0,NaN,NaN,0.0,0,0,1
3,2013,2015,Aleutians East Borough,Alaska,3304.0,12.74,278,46.52,930.0,61518.0,...,1.12,3.18,0.00,0.0,NaN,NaN,0.0,0,0,1
4,2016,2016,Aleutians West Census Area,Alaska,5684.0,5.81,849,67.75,1270.0,84306.0,...,2.45,4.40,0.11,0.0,NaN,NaN,0.0,0,0,1

In [145]:
print(zhvi.shape)
# print(zori.shape)

(76850, 11)

In [146]:
state_map = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas',
    'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware',
    'FL': 'Florida', 'GA': 'Georgia', 'HI': 'Hawaii', 'ID': 'Idaho',
    'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 'KS': 'Kansas',
    'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland',
    'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi',
    'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada',
    'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico', 'NY': 'New York',
    'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma',
    'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina',
    'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah',
    'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia',
    'WI': 'Wisconsin', 'WY': 'Wyoming'
}

In [147]:
zhvi['State'] = zhvi['State'].replace(state_map)

In [148]:
zhvi.drop('StateName', inplace=True, axis=1)

In [149]:
zhvi.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'State', 'Metro',
       'StateCodeFIPS', 'MunicipalCodeFIPS', 'Year', 'ZHVI'],
      dtype='object')

In [150]:
df.columns

Index(['GEOID', 'year', 'name', 'parent.location', 'population',
       'poverty.rate', 'renter.occupied.households', 'pct.renter.occupied',
       'median.gross.rent', 'median.household.income', 'median.property.value',
       'rent.burden', 'pct.white', 'pct.af.am', 'pct.hispanic', 'pct.am.ind',
       'pct.asian', 'pct.nh.pi', 'pct.multiple', 'pct.other',
       'eviction.filings', 'evictions', 'eviction.rate',
       'eviction.filing.rate', 'low.flag', 'imputed', 'subbed'],
      dtype='object')

In [151]:
df = df.rename(columns={'year':'Year', 'name':'RegionName', 'parent.location':'State'})

In [152]:
df.head()

,GEOID,Year,RegionName,State,population,poverty.rate,renter.occupied.households,pct.renter.occupied,median.gross.rent,median.household.income,...,pct.nh.pi,pct.multiple,pct.other,eviction.filings,evictions,eviction.rate,eviction.filing.rate,low.flag,imputed,subbed
0,2013,2009,Aleutians East Borough,Alaska,2959.0,8.37,263,58.59,654.0,56250.0,...,0.34,5.58,0.14,0.0,NaN,NaN,0.0,0,0,1
1,2013,2010,Aleutians East Borough,Alaska,3141.0,6.28,268,48.46,847.0,58125.0,...,0.60,3.72,0.03,0.0,NaN,NaN,0.0,0,0,1
2,2013,2013,Aleutians East Borough,Alaska,3304.0,12.74,274,46.52,930.0,61518.0,...,1.12,3.18,0.00,0.0,NaN,NaN,0.0,0,0,1
3,2013,2015,Aleutians East Borough,Alaska,3304.0,12.74,278,46.52,930.0,61518.0,...,1.12,3.18,0.00,0.0,NaN,NaN,0.0,0,0,1
4,2016,2016,Aleutians West Census Area,Alaska,5684.0,5.81,849,67.75,1270.0,84306.0,...,2.45,4.40,0.11,0.0,NaN,NaN,0.0,0,0,1

In [153]:
zhvi.to_csv('zillow.csv', index=False)

In [154]:
final = pd.merge(df, zhvi, on=['Year', 'RegionName', 'State'], how='inner')

In [155]:
final

,GEOID,Year,RegionName,State,population,poverty.rate,renter.occupied.households,pct.renter.occupied,median.gross.rent,median.household.income,...,low.flag,imputed,subbed,RegionID,SizeRank,RegionType,Metro,StateCodeFIPS,MunicipalCodeFIPS,ZHVI
0,2100,2016,Haines Borough,Alaska,2560.0,1.32,342,30.95,868.0,58750.0,...,0,0,1,1073,3112,county,NaN,2,100,0.000000e+00
1,1001,2008,Autauga County,Alabama,49584.0,7.52,4593,22.45,779.0,51463.0,...,0,0,0,1524,904,county,"Montgomery, AL",1,1,1.957993e+06
2,1001,2009,Autauga County,Alabama,49584.0,7.52,4783,22.45,779.0,51463.0,...,0,0,0,1524,904,county,"Montgomery, AL",1,1,1.908526e+06
3,1001,2011,Autauga County,Alabama,55221.0,9.28,5040,26.08,883.0,51281.0,...,0,0,0,1524,904,county,"Montgomery, AL",1,1,1.771719e+06
4,1001,2012,Autauga County,Alabama,55221.0,9.28,5107,26.08,883.0,51281.0,...,0,0,0,1524,904,county,"Montgomery, AL",1,1,1.779735e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11683,56041,2016,Uinta County,Wyoming,20930.0,10.81,2195,26.95,641.0,56569.0,...,0,0,0,760,1852,county,"Evanston, WY",56,41,2.258164e+06
11684,56043,2013,Washakie County,Wyoming,8400.0,10.08,974,26.25,605.0,47652.0,...,0,0,0,2593,2673,county,NaN,56,43,1.821669e+06
11685,56043,2014,Washakie County,Wyoming,8400.0,10.08,988,26.25,605.0,47652.0,...,0,0,0,2593,2673,county,NaN,56,43,1.837395e+06
11686,56043,2015,Washakie County,Wyoming,8400.0,10.08,1002,26.25,605.0,47652.0,...,0,0,0,2593,2673,county,NaN,56,43,1.905472e+06
11687,56043,2016,Washakie County,Wyoming,8400.0,10.08,1016,26.25,605.0,47652.0,...,0,0,0,2593,2673,county,NaN,56,43,2.003173e+06

In [156]:
final.to_csv('final.csv', index=False)

In [157]:
final.Year.unique()

array([2016, 2008, 2009, 2011, 2012, 2013, 2014, 2015, 2005, 2006, 2007,
       2010, 2001, 2002, 2003, 2004, 2000])

In [158]:
import glob
import os

In [161]:
# Set the path to the directory containing the CSV files
path = '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/age 2010-2018'

# Use glob to get all CSV files in the directory
all_files = glob.glob(os.path.join(path, "*.S0101-Data.csv"))
all_files

['/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/age 2010-2018/ACSST1Y2013.S0101-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/age 2010-2018/ACSST1Y2014.S0101-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/age 2010-2018/ACSST1Y2015.S0101-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/age 2010-2018/ACSST1Y2012.S0101-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/age 2010-2018/ACSST1Y2010.S0101-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/age 2010-2018/ACSST1Y2018.S0101-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/age 2010-2018/ACSST1Y2017.S0101-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/age 2010-2018/ACSST1Y2016.S0101-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/age 2010-2018/ACSST1Y2011.S0101-Data.csv']

In [178]:
df = pd.read_csv('/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/age 2010-2018/ACSST1Y2018.S0101-Data.csv', header=1)
for i in df.columns:
    print(i)

Geography
Geographic Area Name
Estimate!!Total!!Total population
Margin of Error!!Total MOE!!Total population
Estimate!!Total!!Total population!!AGE!!Under 5 years
Margin of Error!!Total MOE!!Total population!!AGE!!Under 5 years
Estimate!!Total!!Total population!!AGE!!5 to 9 years
Margin of Error!!Total MOE!!Total population!!AGE!!5 to 9 years
Estimate!!Total!!Total population!!AGE!!10 to 14 years
Margin of Error!!Total MOE!!Total population!!AGE!!10 to 14 years
Estimate!!Total!!Total population!!AGE!!15 to 19 years
Margin of Error!!Total MOE!!Total population!!AGE!!15 to 19 years
Estimate!!Total!!Total population!!AGE!!20 to 24 years
Margin of Error!!Total MOE!!Total population!!AGE!!20 to 24 years
Estimate!!Total!!Total population!!AGE!!25 to 29 years
Margin of Error!!Total MOE!!Total population!!AGE!!25 to 29 years
Estimate!!Total!!Total population!!AGE!!30 to 34 years
Margin of Error!!Total MOE!!Total population!!AGE!!30 to 34 years
Estimate!!Total!!Total population!!AGE!!35 to 39 years
Margin of Error!!Total MOE!!Total population!!AGE!!35 to 39 years
Estimate!!Total!!Total population!!AGE!!40 to 44 years
Margin of Error!!Total MOE!!Total population!!AGE!!40 to 44 years
Estimate!!Total!!Total population!!AGE!!45 to 49 years
Margin of Error!!Total MOE!!Total population!!AGE!!45 to 49 years
Estimate!!Total!!Total population!!AGE!!50 to 54 years
Margin of Error!!Total MOE!!Total population!!AGE!!50 to 54 years
Estimate!!Total!!Total population!!AGE!!55 to 59 years
Margin of Error!!Total MOE!!Total population!!AGE!!55 to 59 years
Estimate!!Total!!Total population!!AGE!!60 to 64 years
Margin of Error!!Total MOE!!Total population!!AGE!!60 to 64 years
Estimate!!Total!!Total population!!AGE!!65 to 69 years
Margin of Error!!Total MOE!!Total population!!AGE!!65 to 69 years
Estimate!!Total!!Total population!!AGE!!70 to 74 years
Margin of Error!!Total MOE!!Total population!!AGE!!70 to 74 years
Estimate!!Total!!Total population!!AGE!!75 to 79 years
Margin of Error!!Total MOE!!Total population!!AGE!!75 to 79 years
Estimate!!Total!!Total population!!AGE!!80 to 84 years
Margin of Error!!Total MOE!!Total population!!AGE!!80 to 84 years
Estimate!!Total!!Total population!!AGE!!85 years and over
Margin of Error!!Total MOE!!Total population!!AGE!!85 years and over
Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years
Margin of Error!!Total MOE!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years
Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years
Margin of Error!!Total MOE!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years
Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years
Margin of Error!!Total MOE!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years
Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years
Margin of Error!!Total MOE!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years
Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years
Margin of Error!!Total MOE!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years
Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!16 years and over
Margin of Error!!Total MOE!!Total population!!SELECTED AGE CATEGORIES!!16 years and over
Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!18 years and over
Margin of Error!!Total MOE!!Total population!!SELECTED AGE CATEGORIES!!18 years and over
Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!21 years and over
Margin of Error!!Total MOE!!Total population!!SELECTED AGE CATEGORIES!!21 years and over
Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!60 years and over
Margin of Error!!Total MOE!!Total population!!SELECTED AGE CATEGORIES!!60 years and over
Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!62 years and over
Margin of Error!!Total MOE!!Total population!!SELECTED AGE CATEGORIES!!62 years and over
Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!65 years and over
Margin of Error!!Total MOE!!Total population!!SELECTED AGE CATEGORIES!!65 years and over
Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!75 years and over
Margin of Error!!Total MOE!!Total population!!SELECTED AGE CATEGORIES!!75 years and over
Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Median age (years)
Margin of Error!!Total MOE!!Total population!!SUMMARY INDICATORS!!Median age (years)
Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)
Margin of Error!!Total MOE!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)
Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Age dependency ratio
Margin of Error!!Total MOE!!Total population!!SUMMARY INDICATORS!!Age dependency ratio
Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio
Margin of Error!!Total MOE!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio
Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Child dependency ratio
Margin of Error!!Total MOE!!Total population!!SUMMARY INDICATORS!!Child dependency ratio
Estimate!!Total!!PERCENT ALLOCATED!!Sex
Margin of Error!!Total MOE!!PERCENT ALLOCATED!!Sex
Estimate!!Total!!PERCENT ALLOCATED!!Age
Margin of Error!!Total MOE!!PERCENT ALLOCATED!!Age
Estimate!!Percent!!Total population
Margin of Error!!Percent MOE!!Total population
Estimate!!Male!!Total population
Margin of Error!!Male MOE!!Total population
Estimate!!Percent Male!!Total population
Margin of Error!!Percent Male MOE!!Total population
Estimate!!Female!!Total population
Margin of Error!!Female MOE!!Total population
Estimate!!Percent Female!!Total population
Margin of Error!!Percent Female MOE!!Total population
Estimate!!Percent!!Total population!!AGE!!Under 5 years
Margin of Error!!Percent MOE!!Total population!!AGE!!Under 5 years
Estimate!!Male!!Total population!!AGE!!Under 5 years
Margin of Error!!Male MOE!!Total population!!AGE!!Under 5 years
Estimate!!Percent Male!!Total population!!AGE!!Under 5 years
Margin of Error!!Percent Male MOE!!Total population!!AGE!!Under 5 years
Estimate!!Female!!Total population!!AGE!!Under 5 years
Margin of Error!!Female MOE!!Total population!!AGE!!Under 5 years
Estimate!!Percent Female!!Total population!!AGE!!Under 5 years
Margin of Error!!Percent Female MOE!!Total population!!AGE!!Under 5 years
Estimate!!Percent!!Total population!!AGE!!5 to 9 years
Margin of Error!!Percent MOE!!Total population!!AGE!!5 to 9 years
Estimate!!Male!!Total population!!AGE!!5 to 9 years
Margin of Error!!Male MOE!!Total population!!AGE!!5 to 9 years
Estimate!!Percent Male!!Total population!!AGE!!5 to 9 years
Margin of Error!!Percent Male MOE!!Total population!!AGE!!5 to 9 years
Estimate!!Female!!Total population!!AGE!!5 to 9 years
Margin of Error!!Female MOE!!Total population!!AGE!!5 to 9 years
Estimate!!Percent Female!!Total population!!AGE!!5 to 9 years
Margin of Error!!Percent Female MOE!!Total population!!AGE!!5 to 9 years
Estimate!!Percent!!Total population!!AGE!!10 to 14 years
Margin of Error!!Percent MOE!!Total population!!AGE!!10 to 14 years
Estimate!!Male!!Total population!!AGE!!10 to 14 years
Margin of Error!!Male MOE!!Total population!!AGE!!10 to 14 years
Estimate!!Percent Male!!Total population!!AGE!!10 to 14 years
Margin of Error!!Percent Male MOE!!Total population!!AGE!!10 to 14 years
Estimate!!Female!!Total population!!AGE!!10 to 14 years
Margin of Error!!Female MOE!!Total population!!AGE!!10 to 14 years
Estimate!!Percent Female!!Total population!!AGE!!10 to 14 years
Margin of Error!!Percent Female MOE!!Total population!!AGE!!10 to 14 years
Estimate!!Percent!!Total population!!AGE!!15 to 19 years
Margin of Error!!Percent MOE!!Total population!!AGE!!15 to 19 years
Estimate!!Male!!Total population!!AGE!!15 to 19 years
Margin of Error!!Male MOE!!Total population!!AGE!!15 to 19 years
Estimate!!Percent Male!!Total population!!AGE!!15 to 19 years
Margin of Error!!Percent Male MOE!!Total population!!AGE!!15 to 19 years
Estimate!!Female!!Total population!!AGE!!15 to 19 years
Margin of Error!!Female MOE!!Total population!!AGE!!15 to 19 years
Estimate!!Percent Female!!Total population!!AGE!!15 to 19 years
Margin of Error!!Percent Female MOE!!Total population!!AGE!!15 to 19 years
Estimate!!Percent!!Total population!!AGE!!20 to 24 years
Margin of Error!!Percent MOE!!Total population!!AGE!!20 to 24 years
Estimate!!Male!!Total population!!AGE!!20 to 24 years
Margin of Error!!Male MOE!!Total population!!AGE!!20 to 24 years
Estimate!!Percent Male!!Total population!!AGE!!20 to 24 years
Margin of Error!!Percent Male MOE!!Total population!!AGE!!20 to 24 years
Estimate!!Female!!Total population!!AGE!!20 to 24 years
Margin of Error!!Female MOE!!Total population!!AGE!!20 to 24 years
Estimate!!Percent Female!!Total population!!AGE!!20 to 24 years
Margin of Error!!Percent Female MOE!!Total population!!AGE!!20 to 24 years
Estimate!!Percent!!Total population!!AGE!!25 to 29 years
Margin of Error!!Percent MOE!!Total population!!AGE!!25 to 29 years
Estimate!!Male!!Total population!!AGE!!25 to 29 years
Margin of Error!!Male MOE!!Total population!!AGE!!25 to 29 years
Estimate!!Percent Male!!Total population!!AGE!!25 to 29 years
Margin of Error!!Percent Male MOE!!Total population!!AGE!!25 to 29 years
Estimate!!Female!!Total population!!AGE!!25 to 29 years
Margin of Error!!Female MOE!!Total population!!AGE!!25 to 29 years
Estimate!!Percent Female!!Total population!!AGE!!25 to 29 years
Margin of Error!!Percent Female MOE!!Total population!!AGE!!25 to 29 years
Estimate!!Percent!!Total population!!AGE!!30 to 34 years
Margin of Error!!Percent MOE!!Total population!!AGE!!30 to 34 years
Estimate!!Male!!Total population!!AGE!!30 to 34 years
Margin of Error!!Male MOE!!Total population!!AGE!!30 to 34 years
Estimate!!Percent Male!!Total population!!AGE!!30 to 34 years
Margin of Error!!Percent Male MOE!!Total population!!AGE!!30 to 34 years
Estimate!!Female!!Total population!!AGE!!30 to 34 years
Margin of Error!!Female MOE!!Total population!!AGE!!30 to 34 years
Estimate!!Percent Female!!Total population!!AGE!!30 to 34 years
Margin of Error!!Percent Female MOE!!Total population!!AGE!!30 to 34 years
Estimate!!Percent!!Total population!!AGE!!35 to 39 years
Margin of Error!!Percent MOE!!Total population!!AGE!!35 to 39 years
Estimate!!Male!!Total population!!AGE!!35 to 39 years
Margin of Error!!Male MOE!!Total population!!AGE!!35 to 39 years
Estimate!!Percent Male!!Total population!!AGE!!35 to 39 years
Margin of Error!!Percent Male MOE!!Total population!!AGE!!35 to 39 years
Estimate!!Female!!Total population!!AGE!!35 to 39 years
Margin of Error!!Female MOE!!Total population!!AGE!!35 to 39 years
Estimate!!Percent Female!!Total population!!AGE!!35 to 39 years
Margin of Error!!Percent Female MOE!!Total population!!AGE!!35 to 39 years
Estimate!!Percent!!Total population!!AGE!!40 to 44 years
Margin of Error!!Percent MOE!!Total population!!AGE!!40 to 44 years
Estimate!!Male!!Total population!!AGE!!40 to 44 years
Margin of Error!!Male MOE!!Total population!!AGE!!40 to 44 years
Estimate!!Percent Male!!Total population!!AGE!!40 to 44 years
Margin of Error!!Percent Male MOE!!Total population!!AGE!!40 to 44 years
Estimate!!Female!!Total population!!AGE!!40 to 44 years
Margin of Error!!Female MOE!!Total population!!AGE!!40 to 44 years
Estimate!!Percent Female!!Total population!!AGE!!40 to 44 years
Margin of Error!!Percent Female MOE!!Total population!!AGE!!40 to 44 years
Estimate!!Percent!!Total population!!AGE!!45 to 49 years
Margin of Error!!Percent MOE!!Total population!!AGE!!45 to 49 years
Estimate!!Male!!Total population!!AGE!!45 to 49 years
Margin of Error!!Male MOE!!Total population!!AGE!!45 to 49 years
Estimate!!Percent Male!!Total population!!AGE!!45 to 49 years
Margin of Error!!Percent Male MOE!!Total population!!AGE!!45 to 49 years
Estimate!!Female!!Total population!!AGE!!45 to 49 years
Margin of Error!!Female MOE!!Total population!!AGE!!45 to 49 years
Estimate!!Percent Female!!Total population!!AGE!!45 to 49 years
Margin of Error!!Percent Female MOE!!Total population!!AGE!!45 to 49 years
Estimate!!Percent!!Total population!!AGE!!50 to 54 years
Margin of Error!!Percent MOE!!Total population!!AGE!!50 to 54 years
Estimate!!Male!!Total population!!AGE!!50 to 54 years
Margin of Error!!Male MOE!!Total population!!AGE!!50 to 54 years
Estimate!!Percent Male!!Total population!!AGE!!50 to 54 years
Margin of Error!!Percent Male MOE!!Total population!!AGE!!50 to 54 years
Estimate!!Female!!Total population!!AGE!!50 to 54 years
Margin of Error!!Female MOE!!Total population!!AGE!!50 to 54 years
Estimate!!Percent Female!!Total population!!AGE!!50 to 54 years
Margin of Error!!Percent Female MOE!!Total population!!AGE!!50 to 54 years
Estimate!!Percent!!Total population!!AGE!!55 to 59 years
Margin of Error!!Percent MOE!!Total population!!AGE!!55 to 59 years
Estimate!!Male!!Total population!!AGE!!55 to 59 years
Margin of Error!!Male MOE!!Total population!!AGE!!55 to 59 years
Estimate!!Percent Male!!Total population!!AGE!!55 to 59 years
Margin of Error!!Percent Male MOE!!Total population!!AGE!!55 to 59 years
Estimate!!Female!!Total population!!AGE!!55 to 59 years
Margin of Error!!Female MOE!!Total population!!AGE!!55 to 59 years
Estimate!!Percent Female!!Total population!!AGE!!55 to 59 years
Margin of Error!!Percent Female MOE!!Total population!!AGE!!55 to 59 years
Estimate!!Percent!!Total population!!AGE!!60 to 64 years
Margin of Error!!Percent MOE!!Total population!!AGE!!60 to 64 years
Estimate!!Male!!Total population!!AGE!!60 to 64 years
Margin of Error!!Male MOE!!Total population!!AGE!!60 to 64 years
Estimate!!Percent Male!!Total population!!AGE!!60 to 64 years
Margin of Error!!Percent Male MOE!!Total population!!AGE!!60 to 64 years
Estimate!!Female!!Total population!!AGE!!60 to 64 years
Margin of Error!!Female MOE!!Total population!!AGE!!60 to 64 years
Estimate!!Percent Female!!Total population!!AGE!!60 to 64 years
Margin of Error!!Percent Female MOE!!Total population!!AGE!!60 to 64 years
Estimate!!Percent!!Total population!!AGE!!65 to 69 years
Margin of Error!!Percent MOE!!Total population!!AGE!!65 to 69 years
Estimate!!Male!!Total population!!AGE!!65 to 69 years
Margin of Error!!Male MOE!!Total population!!AGE!!65 to 69 years
Estimate!!Percent Male!!Total population!!AGE!!65 to 69 years
Margin of Error!!Percent Male MOE!!Total population!!AGE!!65 to 69 years
Estimate!!Female!!Total population!!AGE!!65 to 69 years
Margin of Error!!Female MOE!!Total population!!AGE!!65 to 69 years
Estimate!!Percent Female!!Total population!!AGE!!65 to 69 years
Margin of Error!!Percent Female MOE!!Total population!!AGE!!65 to 69 years
Estimate!!Percent!!Total population!!AGE!!70 to 74 years
Margin of Error!!Percent MOE!!Total population!!AGE!!70 to 74 years
Estimate!!Male!!Total population!!AGE!!70 to 74 years
Margin of Error!!Male MOE!!Total population!!AGE!!70 to 74 years
Estimate!!Percent Male!!Total population!!AGE!!70 to 74 years
Margin of Error!!Percent Male MOE!!Total population!!AGE!!70 to 74 years
Estimate!!Female!!Total population!!AGE!!70 to 74 years
Margin of Error!!Female MOE!!Total population!!AGE!!70 to 74 years
Estimate!!Percent Female!!Total population!!AGE!!70 to 74 years
Margin of Error!!Percent Female MOE!!Total population!!AGE!!70 to 74 years
Estimate!!Percent!!Total population!!AGE!!75 to 79 years
Margin of Error!!Percent MOE!!Total population!!AGE!!75 to 79 years
Estimate!!Male!!Total population!!AGE!!75 to 79 years
Margin of Error!!Male MOE!!Total population!!AGE!!75 to 79 years
Estimate!!Percent Male!!Total population!!AGE!!75 to 79 years
Margin of Error!!Percent Male MOE!!Total population!!AGE!!75 to 79 years
Estimate!!Female!!Total population!!AGE!!75 to 79 years
Margin of Error!!Female MOE!!Total population!!AGE!!75 to 79 years
Estimate!!Percent Female!!Total population!!AGE!!75 to 79 years
Margin of Error!!Percent Female MOE!!Total population!!AGE!!75 to 79 years
Estimate!!Percent!!Total population!!AGE!!80 to 84 years
Margin of Error!!Percent MOE!!Total population!!AGE!!80 to 84 years
Estimate!!Male!!Total population!!AGE!!80 to 84 years
Margin of Error!!Male MOE!!Total population!!AGE!!80 to 84 years
Estimate!!Percent Male!!Total population!!AGE!!80 to 84 years
Margin of Error!!Percent Male MOE!!Total population!!AGE!!80 to 84 years
Estimate!!Female!!Total population!!AGE!!80 to 84 years
Margin of Error!!Female MOE!!Total population!!AGE!!80 to 84 years
Estimate!!Percent Female!!Total population!!AGE!!80 to 84 years
Margin of Error!!Percent Female MOE!!Total population!!AGE!!80 to 84 years
Estimate!!Percent!!Total population!!AGE!!85 years and over
Margin of Error!!Percent MOE!!Total population!!AGE!!85 years and over
Estimate!!Male!!Total population!!AGE!!85 years and over
Margin of Error!!Male MOE!!Total population!!AGE!!85 years and over
Estimate!!Percent Male!!Total population!!AGE!!85 years and over
Margin of Error!!Percent Male MOE!!Total population!!AGE!!85 years and over
Estimate!!Female!!Total population!!AGE!!85 years and over
Margin of Error!!Female MOE!!Total population!!AGE!!85 years and over
Estimate!!Percent Female!!Total population!!AGE!!85 years and over
Margin of Error!!Percent Female MOE!!Total population!!AGE!!85 years and over
Estimate!!Percent!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years
Margin of Error!!Percent MOE!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years
Estimate!!Male!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years
Margin of Error!!Male MOE!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years
Estimate!!Percent Male!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years
Margin of Error!!Percent Male MOE!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years
Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years
Margin of Error!!Female MOE!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years
Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years
Margin of Error!!Percent Female MOE!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years
Estimate!!Percent!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years
Margin of Error!!Percent MOE!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years
Estimate!!Male!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years
Margin of Error!!Male MOE!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years
Estimate!!Percent Male!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years
Margin of Error!!Percent Male MOE!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years
Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years
Margin of Error!!Female MOE!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years
Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years
Margin of Error!!Percent Female MOE!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years
Estimate!!Percent!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years
Margin of Error!!Percent MOE!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years
Estimate!!Male!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years
Margin of Error!!Male MOE!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years
Estimate!!Percent Male!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years
Margin of Error!!Percent Male MOE!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years
Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years
Margin of Error!!Female MOE!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years
Estimate!!Percent Female!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years
Margin of Error!!Percent Female MOE!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years
Estimate!!Percent!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years
Margin of Error!!Percent MOE!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years

In [182]:
columns = ['Geography','Geographic Area Name', 'Total!!Estimate!!AGE!!Under 5 years', 'Total!!Estimate!!AGE!!5 to 9 years', 'Total!!Estimate!!AGE!!10 to 14 years', 'Total!!Estimate!!AGE!!15 to 19 years', 'Total!!Estimate!!AGE!!20 to 24 years', 'Total!!Estimate!!AGE!!25 to 29 years', 'Total!!Estimate!!AGE!!30 to 34 years', 'Total!!Estimate!!AGE!!35 to 39 years', 'Total!!Estimate!!AGE!!40 to 44 years', 'Total!!Estimate!!AGE!!45 to 49 years', 'Total!!Estimate!!AGE!!50 to 54 years', 'Total!!Estimate!!AGE!!55 to 59 years', 'Total!!Estimate!!AGE!!60 to 64 years', 'Total!!Estimate!!AGE!!65 to 69 years', 'Total!!Estimate!!AGE!!70 to 74 years', 'Total!!Estimate!!AGE!!75 to 79 years', 'Total!!Estimate!!AGE!!80 to 84 years', 'Total!!Estimate!!AGE!!85 years and over']
columns1 = ['Geography','Geographic Area Name', 'Estimate!!Total!!Total population!!AGE!!Under 5 years', 'Estimate!!Total!!Total population!!AGE!!5 to 9 years', 'Estimate!!Total!!Total population!!AGE!!10 to 14 years', 'Estimate!!Total!!Total population!!AGE!!15 to 19 years', 'Estimate!!Total!!Total population!!AGE!!20 to 24 years', 'Estimate!!Total!!Total population!!AGE!!25 to 29 years', 'Estimate!!Total!!Total population!!AGE!!30 to 34 years', 'Estimate!!Total!!Total population!!AGE!!35 to 39 years', 'Estimate!!Total!!Total population!!AGE!!40 to 44 years', 'Estimate!!Total!!Total population!!AGE!!45 to 49 years', 'Estimate!!Total!!Total population!!AGE!!50 to 54 years', 'Estimate!!Total!!Total population!!AGE!!55 to 59 years', 'Estimate!!Total!!Total population!!AGE!!60 to 64 years', 'Estimate!!Total!!Total population!!AGE!!65 to 69 years', 'Estimate!!Total!!Total population!!AGE!!70 to 74 years', 'Estimate!!Total!!Total population!!AGE!!75 to 79 years', 'Estimate!!Total!!Total population!!AGE!!80 to 84 years', 'Estimate!!Total!!Total population!!AGE!!85 years and over']

In [ ]:
dicts = {'Total!!Estimate!!AGE!!Under 5 years':'Total Under 5 years',
         'Total!!Estimate!!AGE!!5 to 9 years':'Total 5 to 9 years',
         'Total!!Estimate!!AGE!!10 to 14 years':'Total 10 to 14 years',
         'Total!!Estimate!!AGE!!15 to 19 years':'Total 15 to 29 years',
         'Total!!Estimate!!AGE!!20 to 24 years':'Total 20 to 24 years',
         'Total!!Estimate!!AGE!!25 to 29 years':'Total 25 to 29 years',
         'Total!!Estimate!!AGE!!30 to 34 years':'Total 30 to 34 years',
         'Total!!Estimate!!AGE!!35 to 39 years':'Total 35 to 39 years',
         'Total!!Estimate!!AGE!!40 to 44 years':'Total 40 to 44 years',
         'Total!!Estimate!!AGE!!45 to 49 years':'Total 45 to 49 years',
         'Total!!Estimate!!AGE!!50 to 54 years':'Total 50 to 54 years',
         'Total!!Estimate!!AGE!!55 to 59 years':'Total 55 to 59 years',
         'Total!!Estimate!!AGE!!60 to 64 years':'Total 60 to 64 years',
         'Total!!Estimate!!AGE!!65 to 69 years':'Total 65 to 69 years',
         'Total!!Estimate!!AGE!!70 to 74 years':'Total 70 to 74 years',
         'Total!!Estimate!!AGE!!75 to 79 years':'Total 75 to 79 years',
         'Total!!Estimate!!AGE!!80 to 84 years':'Total 80 to 84 years',
         'Total!!Estimate!!AGE!!85 years and over':'Total 85 years and over',
         }

In [185]:
dicts1 = {'Estimate!!Total!!Total population!!AGE!!Under 5 years':'Total Under 5 years',
         'Estimate!!Total!!Total population!!AGE!!5 to 9 years':'Total 5 to 9 years',
         'Estimate!!Total!!Total population!!AGE!!10 to 14 years':'Total 10 to 14 years',
         'Estimate!!Total!!Total population!!AGE!!15 to 19 years':'Total 15 to 29 years',
         'Estimate!!Total!!Total population!!AGE!!20 to 24 years':'Total 20 to 24 years',
         'Estimate!!Total!!Total population!!AGE!!25 to 29 years':'Total 25 to 29 years',
         'Estimate!!Total!!Total population!!AGE!!30 to 34 years':'Total 30 to 34 years',
         'Estimate!!Total!!Total population!!AGE!!35 to 39 years':'Total 35 to 39 years',
         'Estimate!!Total!!Total population!!AGE!!40 to 44 years':'Total 40 to 44 years',
         'Estimate!!Total!!Total population!!AGE!!45 to 49 years':'Total 45 to 49 years',
         'Estimate!!Total!!Total population!!AGE!!50 to 54 years':'Total 50 to 54 years',
         'Estimate!!Total!!Total population!!AGE!!55 to 59 years':'Total 55 to 59 years',
         'Estimate!!Total!!Total population!!AGE!!60 to 64 years':'Total 60 to 64 years',
         'Estimate!!Total!!Total population!!AGE!!65 to 69 years':'Total 65 to 69 years',
         'Estimate!!Total!!Total population!!AGE!!70 to 74 years':'Total 70 to 74 years',
         'Estimate!!Total!!Total population!!AGE!!75 to 79 years':'Total 75 to 79 years',
         'Estimate!!Total!!Total population!!AGE!!80 to 84 years':'Total 80 to 84 years',
         'Estimate!!Total!!Total population!!AGE!!85 years and over':'Total 85 years and over',
         }

In [205]:
# Create an empty list to hold DataFrames
data_frames = []

for file in all_files:
    # Extract the year from the filename (assuming it includes the year)
    year = os.path.basename(file).split('.')[0][-4:]  # Adjust as per file naming convention
    # Read the CSV file
    df = pd.read_csv(file, header=1)
    try:
        df = df[columns]
        df = df.rename(columns=dicts)
    except:
        df = df[columns1]
        df = df.rename(columns=dicts1)
    # Add the year column
    df['Year'] = int(year)
    #print(len(df.columns))
    # Append to the list of DataFrames
    data_frames.append(df)

# Concatenate all DataFrames
combined_df_age = pd.concat(data_frames, ignore_index=True)

# Display the result
combined_df_age.head()

,Geography,Geographic Area Name,Total Under 5 years,Total 5 to 9 years,Total 10 to 14 years,Total 15 to 29 years,Total 20 to 24 years,Total 25 to 29 years,Total 30 to 34 years,Total 35 to 39 years,...,Total 45 to 49 years,Total 50 to 54 years,Total 55 to 59 years,Total 60 to 64 years,Total 65 to 69 years,Total 70 to 74 years,Total 75 to 79 years,Total 80 to 84 years,Total 85 years and over,Year
0,0500000US01003,"Baldwin County, Alabama",5.4,6.4,6.5,6.3,6.3,5.4,6.4,5.6,...,6.1,6.8,6.6,7.4,6.6,4.1,2.9,2.2,2.2,2013
1,0500000US01015,"Calhoun County, Alabama",5.8,7.4,5.3,7.3,7.2,6.7,6.0,7.6,...,6.4,6.6,6.5,6.6,4.8,4.2,3.1,1.8,1.5,2013
2,0500000US01043,"Cullman County, Alabama",6.6,6.0,6.1,5.2,7.3,6.1,5.8,6.6,...,6.6,7.1,7.1,6.3,6.2,3.8,3.1,2.3,1.5,2013
3,0500000US01049,"DeKalb County, Alabama",5.0,6.7,7.3,6.0,8.3,5.2,5.2,8.2,...,7.3,6.3,4.7,7.9,4.6,4.6,2.7,2.9,1.3,2013
4,0500000US01051,"Elmore County, Alabama",5.0,7.8,6.6,5.8,7.0,5.7,7.6,7.1,...,7.2,7.1,6.4,5.8,5.3,3.1,2.3,1.9,1.0,2013

In [206]:
combined_df_age[['RegionName', 'State']] = combined_df_age['Geographic Area Name'].str.split(', ', expand=True)

# Drop the original 'Geographic Area Name' column if it's no longer needed
combined_df_age = combined_df_age.drop(columns=['Geographic Area Name'])
combined_df_age

,Geography,Total Under 5 years,Total 5 to 9 years,Total 10 to 14 years,Total 15 to 29 years,Total 20 to 24 years,Total 25 to 29 years,Total 30 to 34 years,Total 35 to 39 years,Total 40 to 44 years,...,Total 55 to 59 years,Total 60 to 64 years,Total 65 to 69 years,Total 70 to 74 years,Total 75 to 79 years,Total 80 to 84 years,Total 85 years and over,Year,RegionName,State
0,0500000US01003,5.4,6.4,6.5,6.3,6.3,5.4,6.4,5.6,6.8,...,6.6,7.4,6.6,4.1,2.9,2.2,2.2,2013,Baldwin County,Alabama
1,0500000US01015,5.8,7.4,5.3,7.3,7.2,6.7,6.0,7.6,5.4,...,6.5,6.6,4.8,4.2,3.1,1.8,1.5,2013,Calhoun County,Alabama
2,0500000US01043,6.6,6.0,6.1,5.2,7.3,6.1,5.8,6.6,6.3,...,7.1,6.3,6.2,3.8,3.1,2.3,1.5,2013,Cullman County,Alabama
3,0500000US01049,5.0,6.7,7.3,6.0,8.3,5.2,5.2,8.2,5.8,...,4.7,7.9,4.6,4.6,2.7,2.9,1.3,2013,DeKalb County,Alabama
4,0500000US01051,5.0,7.8,6.6,5.8,7.0,5.7,7.6,7.1,7.3,...,6.4,5.8,5.3,3.1,2.3,1.9,1.0,2013,Elmore County,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7452,0500000US72113,6.2,6.0,7.2,7.6,7.6,6.6,6.3,5.4,6.2,...,5.6,6.8,4.9,4.2,2.8,1.9,2.1,2011,Ponce Municipio,Puerto Rico
7453,0500000US72127,5.6,5.9,6.0,6.6,7.3,6.8,6.5,6.1,6.1,...,6.0,6.3,4.6,4.1,3.6,2.8,2.4,2011,San Juan Municipio,Puerto Rico
7454,0500000US72135,6.1,6.3,9.1,8.3,7.2,6.1,7.3,6.9,8.0,...,5.4,4.7,3.6,2.7,1.3,1.7,0.7,2011,Toa Alta Municipio,Puerto Rico
7455,0500000US72137,5.9,6.5,7.1,7.2,7.3,6.9,7.1,5.9,7.1,...,5.0,6.6,5.2,3.2,1.9,2.2,1.6,2011,Toa Baja Municipio,Puerto Rico
7456,0500000US72139,6.1,6.4,7.5,7.4,6.8,6.4,7.1,6.0,7.6,...,6.2,5.6,4.3,3.7,1.7,2.0,1.8,2011,Trujillo Alto Municipio,Puerto Rico

In [207]:
combined_df_age.Year.unique()

array([2013, 2014, 2015, 2012, 2010, 2018, 2017, 2016, 2011])

In [208]:
combined_df_age.to_csv('us_census_age_2010_2018.csv', index=False)

In [211]:
# Set the path to the directory containing the CSV files
path = '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/education 2010-2018'

# Use glob to get all CSV files in the directory
all_files = glob.glob(os.path.join(path, "*.S1501-Data.csv"))
all_files

['/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/education 2010-2018/ACSST1Y2015.S1501-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/education 2010-2018/ACSST1Y2012.S1501-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/education 2010-2018/ACSST1Y2013.S1501-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/education 2010-2018/ACSST1Y2014.S1501-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/education 2010-2018/ACSST1Y2016.S1501-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/education 2010-2018/ACSST1Y2011.S1501-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/education 2010-2018/ACSST1Y2018.S1501-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/education 2010-2018/ACSST1Y2010.S1501-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/education 2010-2018/ACSST1Y2017.S1501-Data.csv']

In [231]:
df = pd.read_csv('/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/education 2010-2018/ACSST1Y2010.S1501-Data.csv', header=1)
for i in df.columns:
    print(i)

Geography
Geographic Area Name
Total!!Estimate!!Population 18 to 24 years
Total!!Margin of Error!!Population 18 to 24 years
Male!!Estimate!!Population 18 to 24 years
Male!!Margin of Error!!Population 18 to 24 years
Female!!Estimate!!Population 18 to 24 years
Female!!Margin of Error!!Population 18 to 24 years
Total!!Estimate!!Less than high school graduate
Total!!Margin of Error!!Less than high school graduate
Male!!Estimate!!Less than high school graduate
Male!!Margin of Error!!Less than high school graduate
Female!!Estimate!!Less than high school graduate
Female!!Margin of Error!!Less than high school graduate
Total!!Estimate!!High school graduate (includes equivalency)
Total!!Margin of Error!!High school graduate (includes equivalency)
Male!!Estimate!!High school graduate (includes equivalency)
Male!!Margin of Error!!High school graduate (includes equivalency)
Female!!Estimate!!High school graduate (includes equivalency)
Female!!Margin of Error!!High school graduate (includes equivalency)
Total!!Estimate!!Some college or associate's degree
Total!!Margin of Error!!Some college or associate's degree
Male!!Estimate!!Some college or associate's degree
Male!!Margin of Error!!Some college or associate's degree
Female!!Estimate!!Some college or associate's degree
Female!!Margin of Error!!Some college or associate's degree
Total!!Estimate!!Bachelor's degree or higher
Total!!Margin of Error!!Bachelor's degree or higher
Male!!Estimate!!Bachelor's degree or higher
Male!!Margin of Error!!Bachelor's degree or higher
Female!!Estimate!!Bachelor's degree or higher
Female!!Margin of Error!!Bachelor's degree or higher
Total!!Estimate!!Population 25 years and over
Total!!Margin of Error!!Population 25 years and over
Male!!Estimate!!Population 25 years and over
Male!!Margin of Error!!Population 25 years and over
Female!!Estimate!!Population 25 years and over
Female!!Margin of Error!!Population 25 years and over
Total!!Estimate!!Less than 9th grade
Total!!Margin of Error!!Less than 9th grade
Male!!Estimate!!Less than 9th grade
Male!!Margin of Error!!Less than 9th grade
Female!!Estimate!!Less than 9th grade
Female!!Margin of Error!!Less than 9th grade
Total!!Estimate!!9th to 12th grade, no diploma
Total!!Margin of Error!!9th to 12th grade, no diploma
Male!!Estimate!!9th to 12th grade, no diploma
Male!!Margin of Error!!9th to 12th grade, no diploma
Female!!Estimate!!9th to 12th grade, no diploma
Female!!Margin of Error!!9th to 12th grade, no diploma
Total!!Estimate!!High school graduate (includes equivalency).1
Total!!Margin of Error!!High school graduate (includes equivalency).1
Male!!Estimate!!High school graduate (includes equivalency).1
Male!!Margin of Error!!High school graduate (includes equivalency).1
Female!!Estimate!!High school graduate (includes equivalency).1
Female!!Margin of Error!!High school graduate (includes equivalency).1
Total!!Estimate!!Some college, no degree
Total!!Margin of Error!!Some college, no degree
Male!!Estimate!!Some college, no degree
Male!!Margin of Error!!Some college, no degree
Female!!Estimate!!Some college, no degree
Female!!Margin of Error!!Some college, no degree
Total!!Estimate!!Associate's degree
Total!!Margin of Error!!Associate's degree
Male!!Estimate!!Associate's degree
Male!!Margin of Error!!Associate's degree
Female!!Estimate!!Associate's degree
Female!!Margin of Error!!Associate's degree
Total!!Estimate!!Bachelor's degree
Total!!Margin of Error!!Bachelor's degree
Male!!Estimate!!Bachelor's degree
Male!!Margin of Error!!Bachelor's degree
Female!!Estimate!!Bachelor's degree
Female!!Margin of Error!!Bachelor's degree
Total!!Estimate!!Graduate or professional degree
Total!!Margin of Error!!Graduate or professional degree
Male!!Estimate!!Graduate or professional degree
Male!!Margin of Error!!Graduate or professional degree
Female!!Estimate!!Graduate or professional degree
Female!!Margin of Error!!Graduate or professional degree
Total!!Estimate!!Percent high school graduate or higher
Total!!Margin of Error!!Percent high school graduate or higher
Male!!Estimate!!Percent high school graduate or higher
Male!!Margin of Error!!Percent high school graduate or higher
Female!!Estimate!!Percent high school graduate or higher
Female!!Margin of Error!!Percent high school graduate or higher
Total!!Estimate!!Percent bachelor's degree or higher
Total!!Margin of Error!!Percent bachelor's degree or higher
Male!!Estimate!!Percent bachelor's degree or higher
Male!!Margin of Error!!Percent bachelor's degree or higher
Female!!Estimate!!Percent bachelor's degree or higher
Female!!Margin of Error!!Percent bachelor's degree or higher
Total!!Estimate!!Population 25 to 34 years
Total!!Margin of Error!!Population 25 to 34 years
Male!!Estimate!!Population 25 to 34 years
Male!!Margin of Error!!Population 25 to 34 years
Female!!Estimate!!Population 25 to 34 years
Female!!Margin of Error!!Population 25 to 34 years
Total!!Estimate!!High school graduate or higher
Total!!Margin of Error!!High school graduate or higher
Male!!Estimate!!High school graduate or higher
Male!!Margin of Error!!High school graduate or higher
Female!!Estimate!!High school graduate or higher
Female!!Margin of Error!!High school graduate or higher
Total!!Estimate!!Bachelor's degree or higher.1
Total!!Margin of Error!!Bachelor's degree or higher.1
Male!!Estimate!!Bachelor's degree or higher.1
Male!!Margin of Error!!Bachelor's degree or higher.1
Female!!Estimate!!Bachelor's degree or higher.1
Female!!Margin of Error!!Bachelor's degree or higher.1
Total!!Estimate!!Population 35 to 44 years
Total!!Margin of Error!!Population 35 to 44 years
Male!!Estimate!!Population 35 to 44 years
Male!!Margin of Error!!Population 35 to 44 years
Female!!Estimate!!Population 35 to 44 years
Female!!Margin of Error!!Population 35 to 44 years
Total!!Estimate!!High school graduate or higher.1
Total!!Margin of Error!!High school graduate or higher.1
Male!!Estimate!!High school graduate or higher.1
Male!!Margin of Error!!High school graduate or higher.1
Female!!Estimate!!High school graduate or higher.1
Female!!Margin of Error!!High school graduate or higher.1
Total!!Estimate!!Bachelor's degree or higher.2
Total!!Margin of Error!!Bachelor's degree or higher.2
Male!!Estimate!!Bachelor's degree or higher.2
Male!!Margin of Error!!Bachelor's degree or higher.2
Female!!Estimate!!Bachelor's degree or higher.2
Female!!Margin of Error!!Bachelor's degree or higher.2
Total!!Estimate!!Population 45 to 64 years
Total!!Margin of Error!!Population 45 to 64 years
Male!!Estimate!!Population 45 to 64 years
Male!!Margin of Error!!Population 45 to 64 years
Female!!Estimate!!Population 45 to 64 years
Female!!Margin of Error!!Population 45 to 64 years
Total!!Estimate!!High school graduate or higher.2
Total!!Margin of Error!!High school graduate or higher.2
Male!!Estimate!!High school graduate or higher.2
Male!!Margin of Error!!High school graduate or higher.2
Female!!Estimate!!High school graduate or higher.2
Female!!Margin of Error!!High school graduate or higher.2
Total!!Estimate!!Bachelor's degree or higher.3
Total!!Margin of Error!!Bachelor's degree or higher.3
Male!!Estimate!!Bachelor's degree or higher.3
Male!!Margin of Error!!Bachelor's degree or higher.3
Female!!Estimate!!Bachelor's degree or higher.3
Female!!Margin of Error!!Bachelor's degree or higher.3
Total!!Estimate!!Population 65 years and over
Total!!Margin of Error!!Population 65 years and over
Male!!Estimate!!Population 65 years and over
Male!!Margin of Error!!Population 65 years and over
Female!!Estimate!!Population 65 years and over
Female!!Margin of Error!!Population 65 years and over
Total!!Estimate!!High school graduate or higher.3
Total!!Margin of Error!!High school graduate or higher.3
Male!!Estimate!!High school graduate or higher.3
Male!!Margin of Error!!High school graduate or higher.3
Female!!Estimate!!High school graduate or higher.3
Female!!Margin of Error!!High school graduate or higher.3
Total!!Estimate!!Bachelor's degree or higher.4
Total!!Margin of Error!!Bachelor's degree or higher.4
Male!!Estimate!!Bachelor's degree or higher.4
Male!!Margin of Error!!Bachelor's degree or higher.4
Female!!Estimate!!Bachelor's degree or higher.4
Female!!Margin of Error!!Bachelor's degree or higher.4
Total!!Estimate!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Less than high school graduate
Total!!Margin of Error!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Less than high school graduate
Male!!Estimate!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Less than high school graduate
Male!!Margin of Error!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Less than high school graduate
Female!!Estimate!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Less than high school graduate
Female!!Margin of Error!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Less than high school graduate
Total!!Estimate!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!High school graduate (includes equivalency)
Total!!Margin of Error!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!High school graduate (includes equivalency)
Male!!Estimate!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!High school graduate (includes equivalency)
Male!!Margin of Error!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!High school graduate (includes equivalency)
Female!!Estimate!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!High school graduate (includes equivalency)
Female!!Margin of Error!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!High school graduate (includes equivalency)
Total!!Estimate!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Some college or associate's degree
Total!!Margin of Error!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Some college or associate's degree
Male!!Estimate!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Some college or associate's degree
Male!!Margin of Error!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Some college or associate's degree
Female!!Estimate!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Some college or associate's degree
Female!!Margin of Error!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Some college or associate's degree
Total!!Estimate!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Bachelor's degree or higher
Total!!Margin of Error!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Bachelor's degree or higher
Male!!Estimate!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Bachelor's degree or higher
Male!!Margin of Error!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Bachelor's degree or higher
Female!!Estimate!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Bachelor's degree or higher
Female!!Margin of Error!!POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL!!Bachelor's degree or higher
Total!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Population 25 years and over with earnings
Total!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Population 25 years and over with earnings
Male!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Population 25 years and over with earnings
Male!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Population 25 years and over with earnings
Female!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Population 25 years and over with earnings
Female!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Population 25 years and over with earnings
Total!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Less than high school graduate
Total!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Less than high school graduate
Male!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Less than high school graduate
Male!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Less than high school graduate
Female!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Less than high school graduate
Female!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Less than high school graduate
Total!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!High school graduate (includes equivalency)
Total!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!High school graduate (includes equivalency)
Male!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!High school graduate (includes equivalency)
Male!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!High school graduate (includes equivalency)
Female!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!High school graduate (includes equivalency)
Female!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!High school graduate (includes equivalency)
Total!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Some college or associate's degree
Total!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Some college or associate's degree
Male!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Some college or associate's degree
Male!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Some college or associate's degree
Female!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Some college or associate's degree
Female!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Some college or associate's degree
Total!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Bachelor's degree
Total!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Bachelor's degree
Male!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Bachelor's degree
Male!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Bachelor's degree
Female!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Bachelor's degree
Female!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Bachelor's degree
Total!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Graduate or professional degree
Total!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Graduate or professional degree
Male!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Graduate or professional degree
Male!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Graduate or professional degree
Female!!Estimate!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Graduate or professional degree
Female!!Margin of Error!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Graduate or professional degree
Total!!Estimate!!PERCENT IMPUTED!!Educational attainment
Total!!Margin of Error!!PERCENT IMPUTED!!Educational attainment
Male!!Estimate!!PERCENT IMPUTED!!Educational attainment
Male!!Margin of Error!!PERCENT IMPUTED!!Educational attainment
Female!!Estimate!!PERCENT IMPUTED!!Educational attainment
Female!!Margin of Error!!PERCENT IMPUTED!!Educational attainment
Unnamed: 230

In [237]:
columns_edu = ["Geography",
               "Geographic Area Name",
               "Total!!Estimate!!Less than high school graduate",
               "Total!!Estimate!!High school graduate (includes equivalency)",
               "Total!!Estimate!!Some college or associate's degree",
               "Total!!Estimate!!Bachelor's degree or higher",
               "Total!!Estimate!!Graduate or professional degree"]

dicts_edu = {"Total!!Estimate!!Less than high school graduate": "Total less than high school graduate",
         "Total!!Estimate!!High school graduate (includes equivalency)": "Total high school graduate",
         "Total!!Estimate!!Some college or associate's degree": "Total some college or associate's degree",
         "Total!!Estimate!!Bachelor's degree or higher":"Total bachelor's degree or higher",
         "Total!!Estimate!!Graduate or professional degree":"Total graduate or professional degree"
         }

In [239]:
# Create an empty list to hold DataFrames
data_frames = []

for file in all_files:
    # Extract the year from the filename (assuming it includes the year)
    year = os.path.basename(file).split('.')[0][-4:]  # Adjust as per file naming convention
    # Read the CSV file
    df = pd.read_csv(file, header=1)
    # Select columns that match our intended column names
    available_columns = [col for col in columns_edu if col in df.columns]
    df = df[available_columns]  # Only select columns that are present
    #df = df[columns_edu]
    df = df.rename(columns=dicts_edu)
    # try:
    #     df = df[columns]
    #     df = df.rename(columns=dicts)
    # except:
    #     df = df[columns1]
    #     df = df.rename(columns=dicts1)
    # Add the year column
    df['Year'] = int(year)
    #print(len(df.columns))
    # Append to the list of DataFrames
    data_frames.append(df)

# Concatenate all DataFrames
combined_df_edu = pd.concat(data_frames, ignore_index=True)

# Display the result
combined_df_edu.head()

,Geography,Geographic Area Name,Year,Total less than high school graduate,Total high school graduate,Total some college or associate's degree,Total bachelor's degree or higher,Total graduate or professional degree
0,0500000US01003,"Baldwin County, Alabama",2015,NaN,NaN,NaN,NaN,NaN
1,0500000US01015,"Calhoun County, Alabama",2015,NaN,NaN,NaN,NaN,NaN
2,0500000US01043,"Cullman County, Alabama",2015,NaN,NaN,NaN,NaN,NaN
3,0500000US01049,"DeKalb County, Alabama",2015,NaN,NaN,NaN,NaN,NaN
4,0500000US01051,"Elmore County, Alabama",2015,NaN,NaN,NaN,NaN,NaN

In [240]:
combined_df_edu[['RegionName', 'State']] = combined_df_edu['Geographic Area Name'].str.split(', ', expand=True)

# Drop the original 'Geographic Area Name' column if it's no longer needed
combined_df_edu = combined_df_edu.drop(columns=['Geographic Area Name'])
combined_df_edu

,Geography,Year,Total less than high school graduate,Total high school graduate,Total some college or associate's degree,Total bachelor's degree or higher,Total graduate or professional degree,RegionName,State
0,0500000US01003,2015,NaN,NaN,NaN,NaN,NaN,Baldwin County,Alabama
1,0500000US01015,2015,NaN,NaN,NaN,NaN,NaN,Calhoun County,Alabama
2,0500000US01043,2015,NaN,NaN,NaN,NaN,NaN,Cullman County,Alabama
3,0500000US01049,2015,NaN,NaN,NaN,NaN,NaN,DeKalb County,Alabama
4,0500000US01051,2015,NaN,NaN,NaN,NaN,NaN,Elmore County,Alabama
...,...,...,...,...,...,...,...,...,...
7452,0500000US72113,2017,NaN,NaN,NaN,NaN,NaN,Ponce Municipio,Puerto Rico
7453,0500000US72127,2017,NaN,NaN,NaN,NaN,NaN,San Juan Municipio,Puerto Rico
7454,0500000US72135,2017,NaN,NaN,NaN,NaN,NaN,Toa Alta Municipio,Puerto Rico
7455,0500000US72137,2017,NaN,NaN,NaN,NaN,NaN,Toa Baja Municipio,Puerto Rico
7456,0500000US72139,2017,NaN,NaN,NaN,NaN,NaN,Trujillo Alto Municipio,Puerto Rico

In [243]:
combined_df_edu.to_csv('us_census_edu_2010_2018.csv', index=False)

In [246]:
# Set the path to the directory containing the CSV files
path = '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/employment 2010-2018'

# Use glob to get all CSV files in the directory
all_files = glob.glob(os.path.join(path, "*.S2301-Data.csv"))
all_files

['/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/employment 2010-2018/ACSST1Y2013.S2301-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/employment 2010-2018/ACSST1Y2014.S2301-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/employment 2010-2018/ACSST1Y2015.S2301-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/employment 2010-2018/ACSST1Y2012.S2301-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/employment 2010-2018/ACSST1Y2018.S2301-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/employment 2010-2018/ACSST1Y2010.S2301-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/employment 2010-2018/ACSST1Y2017.S2301-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/employment 2010-2018/ACSST1Y2016.S2301-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/employment 2010-2018/ACSST1Y2011.S2301-Data.csv']

In [248]:
df = pd.read_csv('/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/employment 2010-2018/ACSST1Y2013.S2301-Data.csv', header=1)
for i in df.columns:
    print(i)

Geography
Geographic Area Name
Total!!Estimate!!Population 16 years and over
Total!!Margin of Error!!Population 16 years and over
In labor force!!Estimate!!Population 16 years and over
In labor force!!Margin of Error!!Population 16 years and over
Employed!!Estimate!!Population 16 years and over
Employed!!Margin of Error!!Population 16 years and over
Unemployment rate!!Estimate!!Population 16 years and over
Unemployment rate!!Margin of Error!!Population 16 years and over
Total!!Estimate!!AGE!!16 to 19 years
Total!!Margin of Error!!AGE!!16 to 19 years
In labor force!!Estimate!!AGE!!16 to 19 years
In labor force!!Margin of Error!!AGE!!16 to 19 years
Employed!!Estimate!!AGE!!16 to 19 years
Employed!!Margin of Error!!AGE!!16 to 19 years
Unemployment rate!!Estimate!!AGE!!16 to 19 years
Unemployment rate!!Margin of Error!!AGE!!16 to 19 years
Total!!Estimate!!AGE!!20 to 24 years
Total!!Margin of Error!!AGE!!20 to 24 years
In labor force!!Estimate!!AGE!!20 to 24 years
In labor force!!Margin of Error!!AGE!!20 to 24 years
Employed!!Estimate!!AGE!!20 to 24 years
Employed!!Margin of Error!!AGE!!20 to 24 years
Unemployment rate!!Estimate!!AGE!!20 to 24 years
Unemployment rate!!Margin of Error!!AGE!!20 to 24 years
Total!!Estimate!!AGE!!25 to 44 years
Total!!Margin of Error!!AGE!!25 to 44 years
In labor force!!Estimate!!AGE!!25 to 44 years
In labor force!!Margin of Error!!AGE!!25 to 44 years
Employed!!Estimate!!AGE!!25 to 44 years
Employed!!Margin of Error!!AGE!!25 to 44 years
Unemployment rate!!Estimate!!AGE!!25 to 44 years
Unemployment rate!!Margin of Error!!AGE!!25 to 44 years
Total!!Estimate!!AGE!!45 to 54 years
Total!!Margin of Error!!AGE!!45 to 54 years
In labor force!!Estimate!!AGE!!45 to 54 years
In labor force!!Margin of Error!!AGE!!45 to 54 years
Employed!!Estimate!!AGE!!45 to 54 years
Employed!!Margin of Error!!AGE!!45 to 54 years
Unemployment rate!!Estimate!!AGE!!45 to 54 years
Unemployment rate!!Margin of Error!!AGE!!45 to 54 years
Total!!Estimate!!AGE!!55 to 64 years
Total!!Margin of Error!!AGE!!55 to 64 years
In labor force!!Estimate!!AGE!!55 to 64 years
In labor force!!Margin of Error!!AGE!!55 to 64 years
Employed!!Estimate!!AGE!!55 to 64 years
Employed!!Margin of Error!!AGE!!55 to 64 years
Unemployment rate!!Estimate!!AGE!!55 to 64 years
Unemployment rate!!Margin of Error!!AGE!!55 to 64 years
Total!!Estimate!!AGE!!65 to 74 years
Total!!Margin of Error!!AGE!!65 to 74 years
In labor force!!Estimate!!AGE!!65 to 74 years
In labor force!!Margin of Error!!AGE!!65 to 74 years
Employed!!Estimate!!AGE!!65 to 74 years
Employed!!Margin of Error!!AGE!!65 to 74 years
Unemployment rate!!Estimate!!AGE!!65 to 74 years
Unemployment rate!!Margin of Error!!AGE!!65 to 74 years
Total!!Estimate!!AGE!!75 years and over
Total!!Margin of Error!!AGE!!75 years and over
In labor force!!Estimate!!AGE!!75 years and over
In labor force!!Margin of Error!!AGE!!75 years and over
Employed!!Estimate!!AGE!!75 years and over
Employed!!Margin of Error!!AGE!!75 years and over
Unemployment rate!!Estimate!!AGE!!75 years and over
Unemployment rate!!Margin of Error!!AGE!!75 years and over
Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race
Total!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race
In labor force!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race
In labor force!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race
Employed!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race
Employed!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race
Unemployment rate!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race
Unemployment rate!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race
Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!White
Total!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!White
In labor force!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!White
In labor force!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!White
Employed!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!White
Employed!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!White
Unemployment rate!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!White
Unemployment rate!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!White
Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Black or African American
Total!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Black or African American
In labor force!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Black or African American
In labor force!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Black or African American
Employed!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Black or African American
Employed!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Black or African American
Unemployment rate!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Black or African American
Unemployment rate!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Black or African American
Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!American Indian and Alaska Native
Total!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!American Indian and Alaska Native
In labor force!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!American Indian and Alaska Native
In labor force!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!American Indian and Alaska Native
Employed!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!American Indian and Alaska Native
Employed!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!American Indian and Alaska Native
Unemployment rate!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!American Indian and Alaska Native
Unemployment rate!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!American Indian and Alaska Native
Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Asian
Total!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Asian
In labor force!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Asian
In labor force!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Asian
Employed!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Asian
Employed!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Asian
Unemployment rate!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Asian
Unemployment rate!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Asian
Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Native Hawaiian and Other Pacific Islander
Total!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Native Hawaiian and Other Pacific Islander
In labor force!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Native Hawaiian and Other Pacific Islander
In labor force!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Native Hawaiian and Other Pacific Islander
Employed!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Native Hawaiian and Other Pacific Islander
Employed!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Native Hawaiian and Other Pacific Islander
Unemployment rate!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Native Hawaiian and Other Pacific Islander
Unemployment rate!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Native Hawaiian and Other Pacific Islander
Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Some other race
Total!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Some other race
In labor force!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Some other race
In labor force!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Some other race
Employed!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Some other race
Employed!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Some other race
Unemployment rate!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Some other race
Unemployment rate!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!One race!!Some other race
Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races
Total!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races
In labor force!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races
In labor force!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races
Employed!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races
Employed!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races
Unemployment rate!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races
Unemployment rate!!Margin of Error!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races
Total!!Estimate!!Hispanic or Latino origin (of any race)
Total!!Margin of Error!!Hispanic or Latino origin (of any race)
In labor force!!Estimate!!Hispanic or Latino origin (of any race)
In labor force!!Margin of Error!!Hispanic or Latino origin (of any race)
Employed!!Estimate!!Hispanic or Latino origin (of any race)
Employed!!Margin of Error!!Hispanic or Latino origin (of any race)
Unemployment rate!!Estimate!!Hispanic or Latino origin (of any race)
Unemployment rate!!Margin of Error!!Hispanic or Latino origin (of any race)
Total!!Estimate!!White alone, not Hispanic or Latino
Total!!Margin of Error!!White alone, not Hispanic or Latino
In labor force!!Estimate!!White alone, not Hispanic or Latino
In labor force!!Margin of Error!!White alone, not Hispanic or Latino
Employed!!Estimate!!White alone, not Hispanic or Latino
Employed!!Margin of Error!!White alone, not Hispanic or Latino
Unemployment rate!!Estimate!!White alone, not Hispanic or Latino
Unemployment rate!!Margin of Error!!White alone, not Hispanic or Latino
Total!!Estimate!!Population 20 to 64 years
Total!!Margin of Error!!Population 20 to 64 years
In labor force!!Estimate!!Population 20 to 64 years
In labor force!!Margin of Error!!Population 20 to 64 years
Employed!!Estimate!!Population 20 to 64 years
Employed!!Margin of Error!!Population 20 to 64 years
Unemployment rate!!Estimate!!Population 20 to 64 years
Unemployment rate!!Margin of Error!!Population 20 to 64 years
Total!!Estimate!!Population 20 to 64 years!!SEX!!Male
Total!!Margin of Error!!Population 20 to 64 years!!SEX!!Male
In labor force!!Estimate!!Population 20 to 64 years!!SEX!!Male
In labor force!!Margin of Error!!Population 20 to 64 years!!SEX!!Male
Employed!!Estimate!!Population 20 to 64 years!!SEX!!Male
Employed!!Margin of Error!!Population 20 to 64 years!!SEX!!Male
Unemployment rate!!Estimate!!Population 20 to 64 years!!SEX!!Male
Unemployment rate!!Margin of Error!!Population 20 to 64 years!!SEX!!Male
Total!!Estimate!!Population 20 to 64 years!!SEX!!Female
Total!!Margin of Error!!Population 20 to 64 years!!SEX!!Female
In labor force!!Estimate!!Population 20 to 64 years!!SEX!!Female
In labor force!!Margin of Error!!Population 20 to 64 years!!SEX!!Female
Employed!!Estimate!!Population 20 to 64 years!!SEX!!Female
Employed!!Margin of Error!!Population 20 to 64 years!!SEX!!Female
Unemployment rate!!Estimate!!Population 20 to 64 years!!SEX!!Female
Unemployment rate!!Margin of Error!!Population 20 to 64 years!!SEX!!Female
Total!!Estimate!!Population 20 to 64 years!!SEX!!Female!!With own children under 6 years
Total!!Margin of Error!!Population 20 to 64 years!!SEX!!Female!!With own children under 6 years
In labor force!!Estimate!!Population 20 to 64 years!!SEX!!Female!!With own children under 6 years
In labor force!!Margin of Error!!Population 20 to 64 years!!SEX!!Female!!With own children under 6 years
Employed!!Estimate!!Population 20 to 64 years!!SEX!!Female!!With own children under 6 years
Employed!!Margin of Error!!Population 20 to 64 years!!SEX!!Female!!With own children under 6 years
Unemployment rate!!Estimate!!Population 20 to 64 years!!SEX!!Female!!With own children under 6 years
Unemployment rate!!Margin of Error!!Population 20 to 64 years!!SEX!!Female!!With own children under 6 years
Total!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level
Total!!Margin of Error!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level
In labor force!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level
In labor force!!Margin of Error!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level
Employed!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level
Employed!!Margin of Error!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level
Unemployment rate!!Estimate!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level
Unemployment rate!!Margin of Error!!POVERTY STATUS IN THE PAST 12 MONTHS!!Below poverty level
Total!!Estimate!!DISABILITY STATUS!!With any disability
Total!!Margin of Error!!DISABILITY STATUS!!With any disability
In labor force!!Estimate!!DISABILITY STATUS!!With any disability
In labor force!!Margin of Error!!DISABILITY STATUS!!With any disability
Employed!!Estimate!!DISABILITY STATUS!!With any disability
Employed!!Margin of Error!!DISABILITY STATUS!!With any disability
Unemployment rate!!Estimate!!DISABILITY STATUS!!With any disability
Unemployment rate!!Margin of Error!!DISABILITY STATUS!!With any disability
Total!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years
Total!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years
In labor force!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years
In labor force!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years
Employed!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years
Employed!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years
Unemployment rate!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years
Unemployment rate!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years
Total!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Less than high school graduate
Total!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Less than high school graduate
In labor force!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Less than high school graduate
In labor force!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Less than high school graduate
Employed!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Less than high school graduate
Employed!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Less than high school graduate
Unemployment rate!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Less than high school graduate
Unemployment rate!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Less than high school graduate
Total!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!High school graduate (includes equivalency)
Total!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!High school graduate (includes equivalency)
In labor force!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!High school graduate (includes equivalency)
In labor force!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!High school graduate (includes equivalency)
Employed!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!High school graduate (includes equivalency)
Employed!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!High school graduate (includes equivalency)
Unemployment rate!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!High school graduate (includes equivalency)
Unemployment rate!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!High school graduate (includes equivalency)
Total!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Some college or associate's degree
Total!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Some college or associate's degree
In labor force!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Some college or associate's degree
In labor force!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Some college or associate's degree
Employed!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Some college or associate's degree
Employed!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Some college or associate's degree
Unemployment rate!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Some college or associate's degree
Unemployment rate!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Some college or associate's degree
Total!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Bachelor's degree or higher
Total!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Bachelor's degree or higher
In labor force!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Bachelor's degree or higher
In labor force!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Bachelor's degree or higher
Employed!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Bachelor's degree or higher
Employed!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Bachelor's degree or higher
Unemployment rate!!Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Bachelor's degree or higher
Unemployment rate!!Margin of Error!!EDUCATIONAL ATTAINMENT!!Population 25 to 64 years!!Bachelor's degree or higher
Total!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over
Total!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over
In labor force!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over
In labor force!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over
Employed!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over
Employed!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over
Unemployment rate!!Estimate!!PERCENT IMPUTED!!Employment status for population 16 years and over
Unemployment rate!!Margin of Error!!PERCENT IMPUTED!!Employment status for population 16 years and over
Unnamed: 242

In [264]:
columns_emp = ["Geography",
               "Geographic Area Name",
               "Unemployment rate!!Estimate!!Population 20 to 64 years"]

dicts_emp = {"Unemployment rate!!Estimate!!Population 20 to 64 years": "Unemployment rate",
         }

columns_emp1 = ["Geography",
               "Geographic Area Name",
               "Estimate!!Unemployment rate!!Population 20 to 64 years"]

dicts_emp1 = {"Estimate!!Unemployment rate!!Population 20 to 64 years": "Unemployment rate",
         }

In [265]:
# Create an empty list to hold DataFrames
data_frames = []

for file in all_files:
    # Extract the year from the filename (assuming it includes the year)
    year = os.path.basename(file).split('.')[0][-4:]  # Adjust as per file naming convention
    print(year)
    # Read the CSV file
    df = pd.read_csv(file, header=1)
    # Select columns that match our intended column names
    #available_columns = [col for col in columns_emp if col in df.columns]
    try:
        df = df[columns_emp]  # Only select columns that are present
        df = df.rename(columns=dicts_emp)
    except:
        df = df[columns_emp1]
        df = df.rename(columns=dicts_emp1)
    #df = df[columns_edu]
    # try:
    #     df = df[columns]
    #     df = df.rename(columns=dicts)
    # except:
    #     df = df[columns1]
    #     df = df.rename(columns=dicts1)
    # Add the year column
    df['Year'] = int(year)
    #print(len(df.columns))
    # Append to the list of DataFrames
    data_frames.append(df)

# Concatenate all DataFrames
combined_df_emp = pd.concat(data_frames, ignore_index=True)

# Display the result
combined_df_emp

2013
2014
2015
2012
2018
2010
2017
2016
2011

,Geography,Geographic Area Name,Unemployment rate,Year
0,0500000US01003,"Baldwin County, Alabama",7.5,2013
1,0500000US01015,"Calhoun County, Alabama",14.7,2013
2,0500000US01043,"Cullman County, Alabama",6.6,2013
3,0500000US01049,"DeKalb County, Alabama",7.1,2013
4,0500000US01051,"Elmore County, Alabama",8.2,2013
...,...,...,...,...
7452,0500000US72113,"Ponce Municipio, Puerto Rico",25.2,2011
7453,0500000US72127,"San Juan Municipio, Puerto Rico",16.0,2011
7454,0500000US72135,"Toa Alta Municipio, Puerto Rico",14.1,2011
7455,0500000US72137,"Toa Baja Municipio, Puerto Rico",17.9,2011
7456,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",6.9,2011

In [266]:
combined_df_emp[['RegionName', 'State']] = combined_df_emp['Geographic Area Name'].str.split(', ', expand=True)

# Drop the original 'Geographic Area Name' column if it's no longer needed
combined_df_emp = combined_df_emp.drop(columns=['Geographic Area Name'])
combined_df_emp

,Geography,Unemployment rate,Year,RegionName,State
0,0500000US01003,7.5,2013,Baldwin County,Alabama
1,0500000US01015,14.7,2013,Calhoun County,Alabama
2,0500000US01043,6.6,2013,Cullman County,Alabama
3,0500000US01049,7.1,2013,DeKalb County,Alabama
4,0500000US01051,8.2,2013,Elmore County,Alabama
...,...,...,...,...,...
7452,0500000US72113,25.2,2011,Ponce Municipio,Puerto Rico
7453,0500000US72127,16.0,2011,San Juan Municipio,Puerto Rico
7454,0500000US72135,14.1,2011,Toa Alta Municipio,Puerto Rico
7455,0500000US72137,17.9,2011,Toa Baja Municipio,Puerto Rico
7456,0500000US72139,6.9,2011,Trujillo Alto Municipio,Puerto Rico

In [267]:
combined_df_emp.to_csv('us_census_emp_2010_2018.csv', index=False)

In [269]:
# Set the path to the directory containing the CSV files
path = '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/geographical mobility 2010-2018'

# Use glob to get all CSV files in the directory
all_files = glob.glob(os.path.join(path, "*.B07001-Data.csv"))
all_files

['/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/geographical mobility 2010-2018/ACSDT1Y2014.B07001-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/geographical mobility 2010-2018/ACSDT1Y2013.B07001-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/geographical mobility 2010-2018/ACSDT1Y2012.B07001-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/geographical mobility 2010-2018/ACSDT1Y2015.B07001-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/geographical mobility 2010-2018/ACSDT1Y2010.B07001-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/geographical mobility 2010-2018/ACSDT1Y2017.B07001-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/geographical mobility 2010-2018/ACSDT1Y2018.B07001-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/geographical mobility 2010-2018/ACSDT1Y2016.B07001-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/geographical mobility 2010-2018/ACSDT1Y2011.B07001-Data.csv']

In [271]:
columns_mob = ["Geography",
               "Geographic Area Name",
               "Estimate!!Total!!Moved within same county",
               "Estimate!!Total!!Moved from different county within same state",
               "Estimate!!Total!!Moved from different state",
               "Estimate!!Total!!Moved from abroad"]

dicts_mob = {"Estimate!!Total!!Moved within same county": "Moved within same county",
             "Estimate!!Total!!Moved from different county within same state": "Moved from different county within same state",
             "Estimate!!Total!!Moved from different state": "Moved from different state",
             "Estimate!!Total!!Moved from abroad":"Moved from abroad"}

In [272]:
# Create an mobty list to hold DataFrames
data_frames = []

for file in all_files:
    # Extract the year from the filename (assuming it includes the year)
    year = os.path.basename(file).split('.')[0][-4:]  # Adjust as per file naming convention
    print(year)
    # Read the CSV file
    df = pd.read_csv(file, header=1)
    # Select columns that match our intended column names
    #available_columns = [col for col in columns_mob if col in df.columns]
    df = df[columns_mob]  # Only select columns that are present
    df = df.rename(columns=dicts_mob)
    # try:
    #     df = df[columns_mob]  # Only select columns that are present
    #     df = df.rename(columns=dicts_mob)
    # except:
    #     df = df[columns_mob1]
    #     df = df.rename(columns=dicts_mob1)
    #df = df[columns_edu]
    # try:
    #     df = df[columns]
    #     df = df.rename(columns=dicts)
    # except:
    #     df = df[columns1]
    #     df = df.rename(columns=dicts1)
    # Add the year column
    df['Year'] = int(year)
    #print(len(df.columns))
    # Append to the list of DataFrames
    data_frames.append(df)

# Concatenate all DataFrames
combined_df_mob = pd.concat(data_frames, ignore_index=True)

# Display the result
combined_df_mob

2014
2013
2012
2015
2010
2017
2018
2016
2011

,Geography,Geographic Area Name,Moved within same county,Moved from different county within same state,Moved from different state,Moved from abroad,Year
0,0500000US01003,"Baldwin County, Alabama",10040.0,5126.0,5613.0,98.0,2014
1,0500000US01015,"Calhoun County, Alabama",NaN,NaN,NaN,NaN,2014
2,0500000US01043,"Cullman County, Alabama",NaN,NaN,NaN,NaN,2014
3,0500000US01049,"DeKalb County, Alabama",NaN,NaN,NaN,NaN,2014
4,0500000US01051,"Elmore County, Alabama",NaN,NaN,NaN,NaN,2014
...,...,...,...,...,...,...,...
7452,0500000US72113,"Ponce Municipio, Puerto Rico",NaN,NaN,NaN,NaN,2011
7453,0500000US72127,"San Juan Municipio, Puerto Rico",NaN,NaN,NaN,NaN,2011
7454,0500000US72135,"Toa Alta Municipio, Puerto Rico",NaN,NaN,NaN,NaN,2011
7455,0500000US72137,"Toa Baja Municipio, Puerto Rico",NaN,NaN,NaN,NaN,2011
7456,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",NaN,NaN,NaN,NaN,2011

In [273]:
combined_df_mob[['RegionName', 'State']] = combined_df_mob['Geographic Area Name'].str.split(', ', expand=True)

# Drop the original 'Geographic Area Name' column if it's no longer needed
combined_df_mob = combined_df_mob.drop(columns=['Geographic Area Name'])
combined_df_mob

,Geography,Moved within same county,Moved from different county within same state,Moved from different state,Moved from abroad,Year,RegionName,State
0,0500000US01003,10040.0,5126.0,5613.0,98.0,2014,Baldwin County,Alabama
1,0500000US01015,NaN,NaN,NaN,NaN,2014,Calhoun County,Alabama
2,0500000US01043,NaN,NaN,NaN,NaN,2014,Cullman County,Alabama
3,0500000US01049,NaN,NaN,NaN,NaN,2014,DeKalb County,Alabama
4,0500000US01051,NaN,NaN,NaN,NaN,2014,Elmore County,Alabama
...,...,...,...,...,...,...,...,...
7452,0500000US72113,NaN,NaN,NaN,NaN,2011,Ponce Municipio,Puerto Rico
7453,0500000US72127,NaN,NaN,NaN,NaN,2011,San Juan Municipio,Puerto Rico
7454,0500000US72135,NaN,NaN,NaN,NaN,2011,Toa Alta Municipio,Puerto Rico
7455,0500000US72137,NaN,NaN,NaN,NaN,2011,Toa Baja Municipio,Puerto Rico
7456,0500000US72139,NaN,NaN,NaN,NaN,2011,Trujillo Alto Municipio,Puerto Rico

In [274]:
combined_df_mob.to_csv('us_census_mob_2010_2018.csv', index=False)

In [276]:
# Set the path to the directory containing the CSV files
path = '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/transportation 2010-2018'

# Use glob to get all CSV files in the directory
all_files = glob.glob(os.path.join(path, "*.B08301-Data.csv"))
all_files

['/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/transportation 2010-2018/ACSDT1Y2018.B08301-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/transportation 2010-2018/ACSDT1Y2017.B08301-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/transportation 2010-2018/ACSDT1Y2010.B08301-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/transportation 2010-2018/ACSDT1Y2011.B08301-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/transportation 2010-2018/ACSDT1Y2016.B08301-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/transportation 2010-2018/ACSDT1Y2013.B08301-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/transportation 2010-2018/ACSDT1Y2014.B08301-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/transportation 2010-2018/ACSDT1Y2015.B08301-Data.csv',
 '/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/transportation 2010-2018/ACSDT1Y2012.B08301-Data.csv']

In [277]:
df = pd.read_csv('/Users/swapster/Desktop/Urban Computing/Project/Datasets/us census/transportation 2010-2018/ACSDT1Y2010.B08301-Data.csv', header=1)
for i in df.columns:
    print(i)

Geography
Geographic Area Name
Estimate!!Total
Margin of Error!!Total
Estimate!!Total!!Car, truck, or van
Margin of Error!!Total!!Car, truck, or van
Estimate!!Total!!Car, truck, or van!!Drove alone
Margin of Error!!Total!!Car, truck, or van!!Drove alone
Estimate!!Total!!Car, truck, or van!!Carpooled
Margin of Error!!Total!!Car, truck, or van!!Carpooled
Estimate!!Total!!Car, truck, or van!!Carpooled!!In 2-person carpool
Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 2-person carpool
Estimate!!Total!!Car, truck, or van!!Carpooled!!In 3-person carpool
Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 3-person carpool
Estimate!!Total!!Car, truck, or van!!Carpooled!!In 4-person carpool
Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 4-person carpool
Estimate!!Total!!Car, truck, or van!!Carpooled!!In 5- or 6-person carpool
Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 5- or 6-person carpool
Estimate!!Total!!Car, truck, or van!!Carpooled!!In 7-or-more-person carpool
Margin of Error!!Total!!Car, truck, or van!!Carpooled!!In 7-or-more-person carpool
Estimate!!Total!!Public transportation (excluding taxicab)
Margin of Error!!Total!!Public transportation (excluding taxicab)
Estimate!!Total!!Public transportation (excluding taxicab)!!Bus or trolley bus
Margin of Error!!Total!!Public transportation (excluding taxicab)!!Bus or trolley bus
Estimate!!Total!!Public transportation (excluding taxicab)!!Streetcar or trolley car (carro publico in Puerto Rico)
Margin of Error!!Total!!Public transportation (excluding taxicab)!!Streetcar or trolley car (carro publico in Puerto Rico)
Estimate!!Total!!Public transportation (excluding taxicab)!!Subway or elevated
Margin of Error!!Total!!Public transportation (excluding taxicab)!!Subway or elevated
Estimate!!Total!!Public transportation (excluding taxicab)!!Railroad
Margin of Error!!Total!!Public transportation (excluding taxicab)!!Railroad
Estimate!!Total!!Public transportation (excluding taxicab)!!Ferryboat
Margin of Error!!Total!!Public transportation (excluding taxicab)!!Ferryboat
Estimate!!Total!!Taxicab
Margin of Error!!Total!!Taxicab
Estimate!!Total!!Motorcycle
Margin of Error!!Total!!Motorcycle
Estimate!!Total!!Bicycle
Margin of Error!!Total!!Bicycle
Estimate!!Total!!Walked
Margin of Error!!Total!!Walked
Estimate!!Total!!Other means
Margin of Error!!Total!!Other means
Estimate!!Total!!Worked at home
Margin of Error!!Total!!Worked at home
Unnamed: 44

In [278]:
columns_trans = ["Geography",
               "Geographic Area Name",
               "Estimate!!Total!!Public transportation (excluding taxicab)"]

dicts_trans = {"Estimate!!Total!!Public transportation (excluding taxicab)": "Public Transport",
               }

In [279]:
# Create an mobty list to hold DataFrames
data_frames = []

for file in all_files:
    # Extract the year from the filename (assuming it includes the year)
    year = os.path.basename(file).split('.')[0][-4:]  # Adjust as per file naming convention
    print(year)
    # Read the CSV file
    df = pd.read_csv(file, header=1)
    # Select columns that match our intended column names
    #available_columns = [col for col in columns_trans if col in df.columns]
    df = df[columns_trans]  # Only select columns that are present
    df = df.rename(columns=dicts_trans)
    # try:
    #     df = df[columns_trans]  # Only select columns that are present
    #     df = df.rename(columns=dicts_trans)
    # except:
    #     df = df[columns_trans1]
    #     df = df.rename(columns=dicts_trans1)
    #df = df[columns_edu]
    # try:
    #     df = df[columns]
    #     df = df.rename(columns=dicts)
    # except:
    #     df = df[columns1]
    #     df = df.rename(columns=dicts1)
    # Add the year column
    df['Year'] = int(year)
    #print(len(df.columns))
    # Append to the list of DataFrames
    data_frames.append(df)

# Concatenate all DataFrames
combined_df_trans = pd.concat(data_frames, ignore_index=True)

# Display the result
combined_df_trans

2018
2017
2010
2011
2016
2013
2014
2015
2012

,Geography,Geographic Area Name,Public Transport,Year
0,0500000US01003,"Baldwin County, Alabama",NaN,2018
1,0500000US01015,"Calhoun County, Alabama",NaN,2018
2,0500000US01043,"Cullman County, Alabama",NaN,2018
3,0500000US01049,"DeKalb County, Alabama",NaN,2018
4,0500000US01051,"Elmore County, Alabama",NaN,2018
...,...,...,...,...
7452,0500000US72113,"Ponce Municipio, Puerto Rico",NaN,2012
7453,0500000US72127,"San Juan Municipio, Puerto Rico",12472.0,2012
7454,0500000US72135,"Toa Alta Municipio, Puerto Rico",NaN,2012
7455,0500000US72137,"Toa Baja Municipio, Puerto Rico",NaN,2012
7456,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",NaN,2012

In [280]:
combined_df_trans[['RegionName', 'State']] = combined_df_trans['Geographic Area Name'].str.split(', ', expand=True)

# Drop the original 'Geographic Area Name' column if it's no longer needed
combined_df_trans = combined_df_trans.drop(columns=['Geographic Area Name'])
combined_df_trans

,Geography,Public Transport,Year,RegionName,State
0,0500000US01003,NaN,2018,Baldwin County,Alabama
1,0500000US01015,NaN,2018,Calhoun County,Alabama
2,0500000US01043,NaN,2018,Cullman County,Alabama
3,0500000US01049,NaN,2018,DeKalb County,Alabama
4,0500000US01051,NaN,2018,Elmore County,Alabama
...,...,...,...,...,...
7452,0500000US72113,NaN,2012,Ponce Municipio,Puerto Rico
7453,0500000US72127,12472.0,2012,San Juan Municipio,Puerto Rico
7454,0500000US72135,NaN,2012,Toa Alta Municipio,Puerto Rico
7455,0500000US72137,NaN,2012,Toa Baja Municipio,Puerto Rico
7456,0500000US72139,NaN,2012,Trujillo Alto Municipio,Puerto Rico

In [281]:
combined_df_trans.to_csv('us_census_trans_2010_2018.csv', index=False)

In [320]:
us_census_merge = (
    pd.merge(combined_df_age, combined_df_edu, on=['Geography','Year', 'RegionName', 'State'], how='inner')
    .merge(combined_df_emp, on=['Geography','Year', 'RegionName', 'State'], how='inner')
    .merge(combined_df_mob, on=['Geography','Year', 'RegionName', 'State'], how='inner')
    .merge(combined_df_trans, on=['Geography','Year', 'RegionName', 'State'], how='inner')
)

In [321]:
us_census_merge

,Geography,Total Under 5 years,Total 5 to 9 years,Total 10 to 14 years,Total 15 to 29 years,Total 20 to 24 years,Total 25 to 29 years,Total 30 to 34 years,Total 35 to 39 years,Total 40 to 44 years,...,Total high school graduate,Total some college or associate's degree,Total bachelor's degree or higher,Total graduate or professional degree,Unemployment rate,Moved within same county,Moved from different county within same state,Moved from different state,Moved from abroad,Public Transport
0,0500000US01003,5.4,6.4,6.5,6.3,6.3,5.4,6.4,5.6,6.8,...,32.6,30.2,11.6,NaN,7.5,19038.0,4373.0,7797.0,1438.0,NaN
1,0500000US01015,5.8,7.4,5.3,7.3,7.2,6.7,6.0,7.6,5.4,...,25.5,50.2,5.7,NaN,14.7,NaN,NaN,NaN,NaN,NaN
2,0500000US01043,6.6,6.0,6.1,5.2,7.3,6.1,5.8,6.6,6.3,...,34.0,47.5,4.1,NaN,6.6,NaN,NaN,NaN,NaN,NaN
3,0500000US01049,5.0,6.7,7.3,6.0,8.3,5.2,5.2,8.2,5.8,...,32.0,44.7,5.3,NaN,7.1,NaN,NaN,NaN,NaN,NaN
4,0500000US01051,5.0,7.8,6.6,5.8,7.0,5.7,7.6,7.1,7.3,...,31.7,35.2,12.7,NaN,8.2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7452,0500000US72113,6.2,6.0,7.2,7.6,7.6,6.6,6.3,5.4,6.2,...,33.6,43.8,7.7,7.3,25.2,NaN,NaN,NaN,NaN,436.0
7453,0500000US72127,5.6,5.9,6.0,6.6,7.3,6.8,6.5,6.1,6.1,...,24.7,49.0,9.3,12.7,16.0,NaN,NaN,NaN,NaN,13797.0
7454,0500000US72135,6.1,6.3,9.1,8.3,7.2,6.1,7.3,6.9,8.0,...,34.9,53.7,3.3,7.6,14.1,NaN,NaN,NaN,NaN,NaN
7455,0500000US72137,5.9,6.5,7.1,7.2,7.3,6.9,7.1,5.9,7.1,...,25.6,48.5,6.7,3.2,17.9,NaN,NaN,NaN,NaN,1284.0
7456,0500000US72139,6.1,6.4,7.5,7.4,6.8,6.4,7.1,6.0,7.6,...,29.4,50.4,10.8,7.5,6.9,NaN,NaN,NaN,NaN,NaN

In [322]:
us_census_merge = us_census_merge.sort_values(['RegionName', 'State', 'Year'])

In [323]:
us_census_merge.to_csv("us_census_combined.csv", index=False)

In [348]:
us_census_merge = pd.read_csv("us_census_combined.csv")

In [ ]:
final

In [349]:
us_census_merge.columns

Index(['Geography', 'Total Under 5 years', 'Total 5 to 9 years',
       'Total 10 to 14 years', 'Total 15 to 29 years', 'Total 20 to 24 years',
       'Total 25 to 29 years', 'Total 30 to 34 years', 'Total 35 to 39 years',
       'Total 40 to 44 years', 'Total 45 to 49 years', 'Total 50 to 54 years',
       'Total 55 to 59 years', 'Total 60 to 64 years', 'Total 65 to 69 years',
       'Total 70 to 74 years', 'Total 75 to 79 years', 'Total 80 to 84 years',
       'Total 85 years and over', 'Year', 'RegionName', 'State',
       'Total less than high school graduate', 'Total high school graduate',
       'Total some college or associate's degree',
       'Total bachelor's degree or higher',
       'Total graduate or professional degree', 'Unemployment rate',
       'Moved within same county',
       'Moved from different county within same state',
       'Moved from different state', 'Moved from abroad', 'Public Transport'],
      dtype='object')

In [382]:
us_census_complete[['Year', 'RegionName', 'State', 'Total Under 5 years', 'Total 5 to 9 years',
       'Total 10 to 14 years']].head(30)

,Year,RegionName,State,Total Under 5 years,Total 5 to 9 years,Total 10 to 14 years
0,2000-01-01,Ada County,Idaho,7.0,7.7,7.4
1,2001-01-01,Ada County,Idaho,7.0,7.7,7.4
2,2002-01-01,Ada County,Idaho,7.0,7.7,7.4
3,2003-01-01,Ada County,Idaho,7.0,7.7,7.4
4,2004-01-01,Ada County,Idaho,7.0,7.7,7.4
5,2005-01-01,Ada County,Idaho,7.0,7.7,7.4
6,2006-01-01,Ada County,Idaho,7.0,7.7,7.4
7,2007-01-01,Ada County,Idaho,7.0,7.7,7.4
8,2008-01-01,Ada County,Idaho,7.0,7.7,7.4
9,2009-01-01,Ada County,Idaho,7.0,7.7,7.4
10,2010-01-01,Ada County,Idaho,7.0,7.7,7.4
11,2011-01-01,Ada County,Idaho,6.9,7.9,7.2
12,2012-01-01,Ada County,Idaho,6.4,7.5,7.6
13,2013-01-01,Ada County,Idaho,6.2,6.8,8.2
14,2014-01-01,Ada County,Idaho,6.0,7.9,7.1
15,2015-01-01,Ada County,Idaho,6.0,7.3,7.0
16,2016-01-01,Ada County,Idaho,6.0,7.2,6.9
17,2017-01-01,Ada County,Idaho,27259.0,27628.0,35812.0
18,2018-01-01,Ada County,Idaho,26178.0,27450.0,36620.0
19,2000-01-01,Adams County,Colorado,8.5,7.8,8.1
20,2001-01-01,Adams County,Colorado,8.5,7.8,8.1
21,2002-01-01,Adams County,Colorado,8.5,7.8,8.1
22,2003-01-01,Adams County,Colorado,8.5,7.8,8.1
23,2004-01-01,Adams County,Colorado,8.5,7.8,8.1
24,2005-01-01,Adams County,Colorado,8.5,7.8,8.1
25,2006-01-01,Adams County,Colorado,8.5,7.8,8.1
26,2007-01-01,Adams County,Colorado,8.5,7.8,8.1
27,2008-01-01,Adams County,Colorado,8.5,7.8,8.1
28,2009-01-01,Adams County,Colorado,8.5,7.8,8.1
29,2010-01-01,Adams County,Colorado,8.5,7.8,8.1

In [381]:
us_census_merge[['Year', 'RegionName', 'State', 'Total Under 5 years', 'Total 5 to 9 years',
       'Total 10 to 14 years']].head(30)

,Year,RegionName,State,Total Under 5 years,Total 5 to 9 years,Total 10 to 14 years
0,2010-01-01,Ada County,Idaho,7.0,7.7,7.4
1,2011-01-01,Ada County,Idaho,6.9,7.9,7.2
2,2012-01-01,Ada County,Idaho,6.4,7.5,7.6
3,2013-01-01,Ada County,Idaho,6.2,6.8,8.2
4,2014-01-01,Ada County,Idaho,6.0,7.9,7.1
5,2015-01-01,Ada County,Idaho,6.0,7.3,7.0
6,2016-01-01,Ada County,Idaho,6.0,7.2,6.9
7,2017-01-01,Ada County,Idaho,27259.0,27628.0,35812.0
8,2018-01-01,Ada County,Idaho,26178.0,27450.0,36620.0
9,2010-01-01,Adams County,Colorado,8.5,7.8,8.1
10,2011-01-01,Adams County,Colorado,8.4,8.8,7.2
11,2012-01-01,Adams County,Colorado,8.1,8.8,7.2
12,2013-01-01,Adams County,Colorado,7.8,7.3,8.7
13,2014-01-01,Adams County,Colorado,7.6,7.9,8.1
14,2015-01-01,Adams County,Colorado,7.4,8.3,7.5
15,2016-01-01,Adams County,Colorado,7.3,7.5,8.1
16,2017-01-01,Adams County,Colorado,36138.0,39177.0,37982.0
17,2018-01-01,Adams County,Colorado,36106.0,36175.0,41120.0
18,2010-01-01,Adams County,Illinois,6.3,6.1,6.9
19,2011-01-01,Adams County,Illinois,5.7,6.4,6.5
20,2012-01-01,Adams County,Illinois,5.6,7.7,5.8
21,2013-01-01,Adams County,Illinois,5.5,6.4,6.4
22,2014-01-01,Adams County,Illinois,6.3,5.5,7.1
23,2015-01-01,Adams County,Illinois,6.0,6.8,7.2
24,2016-01-01,Adams County,Illinois,5.9,6.3,6.7
25,2017-01-01,Adams County,Illinois,3751.0,5811.0,2931.0
26,2018-01-01,Adams County,Illinois,4421.0,4137.0,4268.0
27,2010-01-01,Adams County,Pennsylvania,5.4,6.1,6.7
28,2011-01-01,Adams County,Pennsylvania,5.2,5.9,6.5
29,2012-01-01,Adams County,Pennsylvania,5.2,5.7,6.2

In [350]:
# Step 1: Define the full range of years for each region/state combination
years = range(2000, 2019)

# Step 2: Extract unique 'RegionName', 'State', and 'Geography' combinations
unique_regions = us_census_merge[['RegionName', 'State', 'Geography']].drop_duplicates()

# Step 3: Create a DataFrame with all combinations of 'RegionName', 'State', 'Geography', and 'Year'
template = pd.DataFrame(
    [(region, state, geography, year) for (region, state, geography) in unique_regions.values for year in years],
    columns=['RegionName', 'State', 'Geography', 'Year']
)

# Step 4: Convert 'Year' to datetime format
template['Year'] = pd.to_datetime(template['Year'], format='%Y')
us_census_merge['Year'] = pd.to_datetime(us_census_merge['Year'], format='%Y')

# Step 5: Remove duplicate columns in `us_census_merge` if any
us_census_merge = us_census_merge.loc[:, ~us_census_merge.columns.duplicated()]

# Step 6: Merge the template with the original data to ensure all years are included
us_census_complete = pd.merge(template, us_census_merge, on=['RegionName', 'State', 'Geography', 'Year'], how='left')

# Step 7: Perform time-based interpolation within each group, after setting Year as a temporary index
def interpolate_group(group):
    group = group.set_index('Year')  # Set Year as the index temporarily
    group = group.interpolate(method='time', limit_direction='backward')  # Time-based interpolation
    return group.reset_index()  # Reset index back to original

# Group by RegionName and State, then apply the interpolation function
us_census_complete = us_census_complete.groupby(['RegionName', 'State']).apply(interpolate_group).reset_index(drop=True)

# Display the result
us_census_complete

,Year,RegionName,State,Geography,Total Under 5 years,Total 5 to 9 years,Total 10 to 14 years,Total 15 to 29 years,Total 20 to 24 years,Total 25 to 29 years,...,Total high school graduate,Total some college or associate's degree,Total bachelor's degree or higher,Total graduate or professional degree,Unemployment rate,Moved within same county,Moved from different county within same state,Moved from different state,Moved from abroad,Public Transport
0,2000-01-01,Ada County,Idaho,0500000US16001,7.0,7.7,7.4,6.6,6.6,7.5,...,28.6,50.7,9.5,11.2,NaN,39653.0,9609.0,15865.0,1090.0,895.0
1,2001-01-01,Ada County,Idaho,0500000US16001,7.0,7.7,7.4,6.6,6.6,7.5,...,28.6,50.7,9.5,11.2,NaN,39653.0,9609.0,15865.0,1090.0,895.0
2,2002-01-01,Ada County,Idaho,0500000US16001,7.0,7.7,7.4,6.6,6.6,7.5,...,28.6,50.7,9.5,11.2,NaN,39653.0,9609.0,15865.0,1090.0,895.0
3,2003-01-01,Ada County,Idaho,0500000US16001,7.0,7.7,7.4,6.6,6.6,7.5,...,28.6,50.7,9.5,11.2,NaN,39653.0,9609.0,15865.0,1090.0,895.0
4,2004-01-01,Ada County,Idaho,0500000US16001,7.0,7.7,7.4,6.6,6.6,7.5,...,28.6,50.7,9.5,11.2,NaN,39653.0,9609.0,15865.0,1090.0,895.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15974,2014-01-01,Yuma County,Arizona,0500000US04027,7.6,7.1,7.3,7.2,8.4,7.1,...,28.8,46.6,3.1,NaN,10.3,22026.0,3843.0,8736.0,3262.0,1138.0
15975,2015-01-01,Yuma County,Arizona,0500000US04027,7.3,7.0,7.1,7.1,8.7,7.2,...,NaN,NaN,NaN,NaN,12.0,23633.0,1949.0,6860.0,2816.0,984.0
15976,2016-01-01,Yuma County,Arizona,0500000US04027,7.3,7.8,6.3,7.0,8.5,6.9,...,NaN,NaN,NaN,NaN,10.3,26195.0,3423.0,9678.0,4607.0,2659.0
15977,2017-01-01,Yuma County,Arizona,0500000US04027,14772.0,13449.0,15703.0,15186.0,17152.0,14927.0,...,NaN,NaN,NaN,NaN,6.0,19779.0,3456.0,8553.0,2030.0,1556.0
15978,2018-01-01,Yuma County,Arizona,0500000US04027,15116.0,14200.0,15581.0,14792.0,17326.0,15296.0,...,NaN,NaN,NaN,NaN,6.8,21732.0,2335.0,9423.0,3180.0,575.0

In [352]:
final['Year'] = pd.to_datetime(final['Year'], format='%Y')

In [354]:
final

,GEOID,Year,RegionName,State,population,poverty.rate,renter.occupied.households,pct.renter.occupied,median.gross.rent,median.household.income,...,low.flag,imputed,subbed,RegionID,SizeRank,RegionType,Metro,StateCodeFIPS,MunicipalCodeFIPS,ZHVI
0,2100,2016-01-01,Haines Borough,Alaska,2560.0,1.32,342,30.95,868.0,58750.0,...,0,0,1,1073,3112,county,NaN,2,100,0.000000e+00
1,1001,2008-01-01,Autauga County,Alabama,49584.0,7.52,4593,22.45,779.0,51463.0,...,0,0,0,1524,904,county,"Montgomery, AL",1,1,1.957993e+06
2,1001,2009-01-01,Autauga County,Alabama,49584.0,7.52,4783,22.45,779.0,51463.0,...,0,0,0,1524,904,county,"Montgomery, AL",1,1,1.908526e+06
3,1001,2011-01-01,Autauga County,Alabama,55221.0,9.28,5040,26.08,883.0,51281.0,...,0,0,0,1524,904,county,"Montgomery, AL",1,1,1.771719e+06
4,1001,2012-01-01,Autauga County,Alabama,55221.0,9.28,5107,26.08,883.0,51281.0,...,0,0,0,1524,904,county,"Montgomery, AL",1,1,1.779735e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11683,56041,2016-01-01,Uinta County,Wyoming,20930.0,10.81,2195,26.95,641.0,56569.0,...,0,0,0,760,1852,county,"Evanston, WY",56,41,2.258164e+06
11684,56043,2013-01-01,Washakie County,Wyoming,8400.0,10.08,974,26.25,605.0,47652.0,...,0,0,0,2593,2673,county,NaN,56,43,1.821669e+06
11685,56043,2014-01-01,Washakie County,Wyoming,8400.0,10.08,988,26.25,605.0,47652.0,...,0,0,0,2593,2673,county,NaN,56,43,1.837395e+06
11686,56043,2015-01-01,Washakie County,Wyoming,8400.0,10.08,1002,26.25,605.0,47652.0,...,0,0,0,2593,2673,county,NaN,56,43,1.905472e+06
11687,56043,2016-01-01,Washakie County,Wyoming,8400.0,10.08,1016,26.25,605.0,47652.0,...,0,0,0,2593,2673,county,NaN,56,43,2.003173e+06

In [355]:
final.columns

Index(['GEOID', 'Year', 'RegionName', 'State', 'population', 'poverty.rate',
       'renter.occupied.households', 'pct.renter.occupied',
       'median.gross.rent', 'median.household.income', 'median.property.value',
       'rent.burden', 'pct.white', 'pct.af.am', 'pct.hispanic', 'pct.am.ind',
       'pct.asian', 'pct.nh.pi', 'pct.multiple', 'pct.other',
       'eviction.filings', 'evictions', 'eviction.rate',
       'eviction.filing.rate', 'low.flag', 'imputed', 'subbed', 'RegionID',
       'SizeRank', 'RegionType', 'Metro', 'StateCodeFIPS', 'MunicipalCodeFIPS',
       'ZHVI'],
      dtype='object')

In [370]:
final = pd.read_csv('final.csv')

In [ ]:
# Step 1: Define the full range of years
years = range(2000, 2019)

# Step 2: Extract unique combinations of identifiers
unique_identifiers = final[['GEOID', 'RegionName', 'State']].drop_duplicates()

# Step 3: Create a template with all combinations of identifiers and years
template = pd.DataFrame(
    [(geoid, region, state, year) for (geoid, region, state) in unique_identifiers.values for year in years],
    columns=['GEOID', 'RegionName', 'State', 'Year']
)

# Step 4: Convert 'Year' to datetime format for both the template and final DataFrame
template['Year'] = pd.to_datetime(template['Year'], format='%Y')
final['Year'] = pd.to_datetime(final['Year'], format='%Y')

# Step 5: Merge the template with the final data to fill missing years with NaNs
final_complete1 = pd.merge(template, final, on=['GEOID', 'RegionName', 'State', 'Year'], how='left')

# Step 6: Perform time-based interpolation within each group by temporarily setting Year as the index
def interpolate_group(group):
    group = group.set_index('Year')  # Temporarily set Year as the index
    group = group.interpolate(method='time', limit_direction='backward')  # Apply time-based interpolation
    return group.reset_index()  # Reset index back to original

# Group by GEOID, RegionName, and State, then apply the interpolation function
final_complete1 = final_complete1.groupby(['GEOID', 'RegionName', 'State']).apply(interpolate_group).reset_index(drop=True)

In [372]:
final_complete

,Year,GEOID,RegionName,State,population,poverty.rate,renter.occupied.households,pct.renter.occupied,median.gross.rent,median.household.income,...,low.flag,imputed,subbed,RegionID,SizeRank,RegionType,Metro,StateCodeFIPS,MunicipalCodeFIPS,ZHVI
0,2000-01-01,1001,Autauga County,Alabama,49584.0,7.52,4593.0,22.45,779.0,51463.0,...,0.0,0.0,0.0,1524.0,904.0,NaN,NaN,1.0,1.0,1.957993e+06
1,2001-01-01,1001,Autauga County,Alabama,49584.0,7.52,4593.0,22.45,779.0,51463.0,...,0.0,0.0,0.0,1524.0,904.0,NaN,NaN,1.0,1.0,1.957993e+06
2,2002-01-01,1001,Autauga County,Alabama,49584.0,7.52,4593.0,22.45,779.0,51463.0,...,0.0,0.0,0.0,1524.0,904.0,NaN,NaN,1.0,1.0,1.957993e+06
3,2003-01-01,1001,Autauga County,Alabama,49584.0,7.52,4593.0,22.45,779.0,51463.0,...,0.0,0.0,0.0,1524.0,904.0,NaN,NaN,1.0,1.0,1.957993e+06
4,2004-01-01,1001,Autauga County,Alabama,49584.0,7.52,4593.0,22.45,779.0,51463.0,...,0.0,0.0,0.0,1524.0,904.0,NaN,NaN,1.0,1.0,1.957993e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29141,2014-01-01,56043,Washakie County,Wyoming,8400.0,10.08,988.0,26.25,605.0,47652.0,...,0.0,0.0,0.0,2593.0,2673.0,county,NaN,56.0,43.0,1.837395e+06
29142,2015-01-01,56043,Washakie County,Wyoming,8400.0,10.08,1002.0,26.25,605.0,47652.0,...,0.0,0.0,0.0,2593.0,2673.0,county,NaN,56.0,43.0,1.905472e+06
29143,2016-01-01,56043,Washakie County,Wyoming,8400.0,10.08,1016.0,26.25,605.0,47652.0,...,0.0,0.0,0.0,2593.0,2673.0,county,NaN,56.0,43.0,2.003173e+06
29144,2017-01-01,56043,Washakie County,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29145,2018-01-01,56043,Washakie County,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [373]:
super_final1 = pd.merge(final, us_census_complete, on=['Year', 'RegionName', 'State'], how='inner')
super_final1

,GEOID,Year,RegionName,State,population,poverty.rate,renter.occupied.households,pct.renter.occupied,median.gross.rent,median.household.income,...,Total high school graduate,Total some college or associate's degree,Total bachelor's degree or higher,Total graduate or professional degree,Unemployment rate,Moved within same county,Moved from different county within same state,Moved from different state,Moved from abroad,Public Transport
0,1003,2005-01-01,Baldwin County,Alabama,171997.0,8.84,15715,22.54,788.0,48918.0,...,34.7,32.2,10.7,7.4,NaN,18345.0,6985.0,9680.0,644.0,309.000000
1,1003,2006-01-01,Baldwin County,Alabama,171997.0,8.84,16593,22.54,788.0,48918.0,...,34.7,32.2,10.7,7.4,NaN,18345.0,6985.0,9680.0,644.0,309.000000
2,1003,2007-01-01,Baldwin County,Alabama,171997.0,8.84,17472,22.54,788.0,48918.0,...,34.7,32.2,10.7,7.4,NaN,18345.0,6985.0,9680.0,644.0,309.000000
3,1003,2008-01-01,Baldwin County,Alabama,171997.0,8.84,18351,22.54,788.0,48918.0,...,34.7,32.2,10.7,7.4,NaN,18345.0,6985.0,9680.0,644.0,309.000000
4,1003,2009-01-01,Baldwin County,Alabama,171997.0,8.84,19230,22.54,788.0,48918.0,...,34.7,32.2,10.7,7.4,NaN,18345.0,6985.0,9680.0,644.0,309.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2572,55141,2012-01-01,Wood County,Wisconsin,74012.0,7.20,8703,25.54,617.0,48961.0,...,30.2,49.3,8.3,6.0,6.7,NaN,NaN,NaN,NaN,65.000000
2573,55141,2013-01-01,Wood County,Wisconsin,74012.0,7.20,8820,25.54,617.0,48961.0,...,41.5,30.1,11.2,NaN,7.0,NaN,NaN,NaN,NaN,56.482546
2574,55141,2014-01-01,Wood County,Wisconsin,74012.0,7.20,8936,25.54,617.0,48961.0,...,36.7,34.4,21.0,NaN,4.8,NaN,NaN,NaN,NaN,47.988364
2575,55141,2015-01-01,Wood County,Wisconsin,74012.0,7.20,9053,25.54,617.0,48961.0,...,NaN,NaN,NaN,NaN,4.9,NaN,NaN,NaN,NaN,39.494182
2576,55141,2016-01-01,Wood County,Wisconsin,74012.0,7.20,9170,25.54,617.0,48961.0,...,NaN,NaN,NaN,NaN,3.3,NaN,NaN,NaN,NaN,31.000000

In [376]:
print(len(super_final1['RegionName'].unique()), len(super_final1['State'].unique()))

329 34

In [374]:
final.shape

(11688, 34)

In [375]:
print(len(final['RegionName'].unique()), len(final['State'].unique()))

1052 43

In [358]:
super_final = pd.merge(final_complete, us_census_complete, on=['Year', 'RegionName', 'State'], how='inner')
super_final

,Year,GEOID,RegionName,State,population,poverty.rate,renter.occupied.households,pct.renter.occupied,median.gross.rent,median.household.income,...,Total high school graduate,Total some college or associate's degree,Total bachelor's degree or higher,Total graduate or professional degree,Unemployment rate,Moved within same county,Moved from different county within same state,Moved from different state,Moved from abroad,Public Transport
0,2000-01-01,1003,Baldwin County,Alabama,171997.0,8.84,15715.0,22.54,788.0,48918.0,...,34.7,32.2,10.7,7.4,NaN,18345.0,6985.0,9680.0,644.0,309.000000
1,2001-01-01,1003,Baldwin County,Alabama,171997.0,8.84,15715.0,22.54,788.0,48918.0,...,34.7,32.2,10.7,7.4,NaN,18345.0,6985.0,9680.0,644.0,309.000000
2,2002-01-01,1003,Baldwin County,Alabama,171997.0,8.84,15715.0,22.54,788.0,48918.0,...,34.7,32.2,10.7,7.4,NaN,18345.0,6985.0,9680.0,644.0,309.000000
3,2003-01-01,1003,Baldwin County,Alabama,171997.0,8.84,15715.0,22.54,788.0,48918.0,...,34.7,32.2,10.7,7.4,NaN,18345.0,6985.0,9680.0,644.0,309.000000
4,2004-01-01,1003,Baldwin County,Alabama,171997.0,8.84,15715.0,22.54,788.0,48918.0,...,34.7,32.2,10.7,7.4,NaN,18345.0,6985.0,9680.0,644.0,309.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7424,2014-01-01,55141,Wood County,Wisconsin,74012.0,7.20,8936.0,25.54,617.0,48961.0,...,36.7,34.4,21.0,NaN,4.8,NaN,NaN,NaN,NaN,47.988364
7425,2015-01-01,55141,Wood County,Wisconsin,74012.0,7.20,9053.0,25.54,617.0,48961.0,...,NaN,NaN,NaN,NaN,4.9,NaN,NaN,NaN,NaN,39.494182
7426,2016-01-01,55141,Wood County,Wisconsin,74012.0,7.20,9170.0,25.54,617.0,48961.0,...,NaN,NaN,NaN,NaN,3.3,NaN,NaN,NaN,NaN,31.000000
7427,2017-01-01,55141,Wood County,Wisconsin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.4,NaN,NaN,NaN,NaN,NaN
7428,2018-01-01,55141,Wood County,Wisconsin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN

In [367]:
len(super_final.State.unique())

34

In [368]:
len(super_final.RegionName.unique())

329

In [364]:
final_complete.to_csv("final_complete.csv", index=False)

In [365]:
us_census_complete.to_csv("us_census_complete.csv", index=False)

In [366]:
super_final.to_csv("super_final.csv")

In [369]:
super_final.columns

Index(['Year', 'GEOID', 'RegionName', 'State', 'population', 'poverty.rate',
       'renter.occupied.households', 'pct.renter.occupied',
       'median.gross.rent', 'median.household.income', 'median.property.value',
       'rent.burden', 'pct.white', 'pct.af.am', 'pct.hispanic', 'pct.am.ind',
       'pct.asian', 'pct.nh.pi', 'pct.multiple', 'pct.other',
       'eviction.filings', 'evictions', 'eviction.rate',
       'eviction.filing.rate', 'low.flag', 'imputed', 'subbed', 'RegionID',
       'SizeRank', 'RegionType', 'Metro', 'StateCodeFIPS', 'MunicipalCodeFIPS',
       'ZHVI', 'Geography', 'Total Under 5 years', 'Total 5 to 9 years',
       'Total 10 to 14 years', 'Total 15 to 29 years', 'Total 20 to 24 years',
       'Total 25 to 29 years', 'Total 30 to 34 years', 'Total 35 to 39 years',
       'Total 40 to 44 years', 'Total 45 to 49 years', 'Total 50 to 54 years',
       'Total 55 to 59 years', 'Total 60 to 64 years', 'Total 65 to 69 years',
       'Total 70 to 74 years', 'Total 75 to 79 years', 'Total 80 to 84 years',
       'Total 85 years and over', 'Total less than high school graduate',
       'Total high school graduate',
       'Total some college or associate's degree',
       'Total bachelor's degree or higher',
       'Total graduate or professional degree', 'Unemployment rate',
       'Moved within same county',
       'Moved from different county within same state',
       'Moved from different state', 'Moved from abroad', 'Public Transport'],
      dtype='object')

In [377]:
final.columns

Index(['GEOID', 'Year', 'RegionName', 'State', 'population', 'poverty.rate',
       'renter.occupied.households', 'pct.renter.occupied',
       'median.gross.rent', 'median.household.income', 'median.property.value',
       'rent.burden', 'pct.white', 'pct.af.am', 'pct.hispanic', 'pct.am.ind',
       'pct.asian', 'pct.nh.pi', 'pct.multiple', 'pct.other',
       'eviction.filings', 'evictions', 'eviction.rate',
       'eviction.filing.rate', 'low.flag', 'imputed', 'subbed', 'RegionID',
       'SizeRank', 'RegionType', 'Metro', 'StateCodeFIPS', 'MunicipalCodeFIPS',
       'ZHVI'],
      dtype='object')

In [384]:
us_census_merge.columns

Index(['Geography', 'Total Under 5 years', 'Total 5 to 9 years',
       'Total 10 to 14 years', 'Total 15 to 29 years', 'Total 20 to 24 years',
       'Total 25 to 29 years', 'Total 30 to 34 years', 'Total 35 to 39 years',
       'Total 40 to 44 years', 'Total 45 to 49 years', 'Total 50 to 54 years',
       'Total 55 to 59 years', 'Total 60 to 64 years', 'Total 65 to 69 years',
       'Total 70 to 74 years', 'Total 75 to 79 years', 'Total 80 to 84 years',
       'Total 85 years and over', 'Year', 'RegionName', 'State',
       'Total less than high school graduate', 'Total high school graduate',
       'Total some college or associate's degree',
       'Total bachelor's degree or higher',
       'Total graduate or professional degree', 'Unemployment rate',
       'Moved within same county',
       'Moved from different county within same state',
       'Moved from different state', 'Moved from abroad', 'Public Transport'],
      dtype='object')

In [386]:
us_census_merge['Year'] = us_census_merge['Year'].dt.year
us_census_merge = us_census_merge[(us_census_merge['Year'] >= 2000) & (us_census_merge['Year'] <= 2016)]

In [388]:
us_census_merge.to_csv('us_census_combined.csv', index=False)

In [389]:
final = pd.read_csv('final.csv')
final

,GEOID,Year,RegionName,State,population,poverty.rate,renter.occupied.households,pct.renter.occupied,median.gross.rent,median.household.income,...,low.flag,imputed,subbed,RegionID,SizeRank,RegionType,Metro,StateCodeFIPS,MunicipalCodeFIPS,ZHVI
0,2100,2016,Haines Borough,Alaska,2560,1.32,342,30.95,868.0,58750,...,0,0,1,1073,3112,county,NaN,2,100,0.000
1,1001,2008,Autauga County,Alabama,49584,7.52,4593,22.45,779.0,51463,...,0,0,0,1524,904,county,"Montgomery, AL",1,1,1957993.489
2,1001,2009,Autauga County,Alabama,49584,7.52,4783,22.45,779.0,51463,...,0,0,0,1524,904,county,"Montgomery, AL",1,1,1908526.012
3,1001,2011,Autauga County,Alabama,55221,9.28,5040,26.08,883.0,51281,...,0,0,0,1524,904,county,"Montgomery, AL",1,1,1771719.315
4,1001,2012,Autauga County,Alabama,55221,9.28,5107,26.08,883.0,51281,...,0,0,0,1524,904,county,"Montgomery, AL",1,1,1779734.674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11683,56041,2016,Uinta County,Wyoming,20930,10.81,2195,26.95,641.0,56569,...,0,0,0,760,1852,county,"Evanston, WY",56,41,2258164.400
11684,56043,2013,Washakie County,Wyoming,8400,10.08,974,26.25,605.0,47652,...,0,0,0,2593,2673,county,NaN,56,43,1821669.197
11685,56043,2014,Washakie County,Wyoming,8400,10.08,988,26.25,605.0,47652,...,0,0,0,2593,2673,county,NaN,56,43,1837394.906
11686,56043,2015,Washakie County,Wyoming,8400,10.08,1002,26.25,605.0,47652,...,0,0,0,2593,2673,county,NaN,56,43,1905471.802
11687,56043,2016,Washakie County,Wyoming,8400,10.08,1016,26.25,605.0,47652,...,0,0,0,2593,2673,county,NaN,56,43,2003172.800

In [390]:
super_final = pd.merge(final, us_census_merge, on=['Year', 'RegionName', 'State'], how='inner')
super_final

,GEOID,Year,RegionName,State,population,poverty.rate,renter.occupied.households,pct.renter.occupied,median.gross.rent,median.household.income,...,Total high school graduate,Total some college or associate's degree,Total bachelor's degree or higher,Total graduate or professional degree,Unemployment rate,Moved within same county,Moved from different county within same state,Moved from different state,Moved from abroad,Public Transport
0,1003,2010,Baldwin County,Alabama,182265,9.61,20109,27.48,874.0,50706,...,34.7,32.2,10.7,7.4,10.1,18345.0,6985.0,9680.0,644.0,NaN
1,1003,2012,Baldwin County,Alabama,195121,9.63,21386,28.48,879.0,50254,...,31.4,51.0,3.7,10.0,8.9,21697.0,5472.0,5185.0,1211.0,309.0
2,1003,2013,Baldwin County,Alabama,195121,9.63,22025,28.48,879.0,50254,...,32.6,30.2,11.6,NaN,7.5,19038.0,4373.0,7797.0,1438.0,NaN
3,1003,2014,Baldwin County,Alabama,195121,9.63,22663,28.48,879.0,50254,...,33.6,28.9,8.6,NaN,7.1,10040.0,5126.0,5613.0,98.0,NaN
4,1003,2015,Baldwin County,Alabama,195121,9.63,23302,28.48,879.0,50254,...,NaN,NaN,NaN,NaN,4.6,12482.0,4514.0,4428.0,63.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,55141,2012,Wood County,Wisconsin,74012,7.20,8703,25.54,617.0,48961,...,30.2,49.3,8.3,6.0,6.7,NaN,NaN,NaN,NaN,65.0
1245,55141,2013,Wood County,Wisconsin,74012,7.20,8820,25.54,617.0,48961,...,41.5,30.1,11.2,NaN,7.0,NaN,NaN,NaN,NaN,NaN
1246,55141,2014,Wood County,Wisconsin,74012,7.20,8936,25.54,617.0,48961,...,36.7,34.4,21.0,NaN,4.8,NaN,NaN,NaN,NaN,NaN
1247,55141,2015,Wood County,Wisconsin,74012,7.20,9053,25.54,617.0,48961,...,NaN,NaN,NaN,NaN,4.9,NaN,NaN,NaN,NaN,NaN
1248,55141,2016,Wood County,Wisconsin,74012,7.20,9170,25.54,617.0,48961,...,NaN,NaN,NaN,NaN,3.3,NaN,NaN,NaN,NaN,31.0

In [391]:
print(len(super_final.RegionName.unique()), len(super_final.State.unique()))

262 34

In [406]:
print(len(final.RegionName.unique()), len(final.State.unique()))

1052 43

In [398]:
# Step 1: Define the full range of years for each region/state combination
years = range(2000, 2017)

# Step 2: Extract unique 'RegionName', 'State', and 'Geography' combinations
unique_regions = us_census_merge[['RegionName', 'State', 'Geography']].drop_duplicates()

# Step 3: Create a DataFrame with all combinations of 'RegionName', 'State', 'Geography', and 'Year'
template = pd.DataFrame(
    [(region, state, geography, year) for (region, state, geography) in unique_regions.values for year in years],
    columns=['RegionName', 'State', 'Geography', 'Year']
)

# Step 4: Convert 'Year' to datetime format
template['Year'] = pd.to_datetime(template['Year'], format='%Y')
us_census_merge['Year'] = pd.to_datetime(us_census_merge['Year'], format='%Y')

# Step 5: Remove duplicate columns in `us_census_merge` if any
us_census_merge = us_census_merge.loc[:, ~us_census_merge.columns.duplicated()]

# Step 6: Merge the template with the original data to ensure all years are included
us_census_complete = pd.merge(template, us_census_merge, on=['RegionName', 'State', 'Geography', 'Year'], how='left')

# Step 7: Perform time-based interpolation within each group, after setting Year as a temporary index
def interpolate_group(group):
    group = group.set_index('Year')  # Set Year as the index temporarily
    group = group.interpolate(method='time', limit_direction='both')  # Time-based interpolation
    return group.reset_index()  # Reset index back to original

# Group by RegionName and State, then apply the interpolation function
us_census_complete = us_census_complete.groupby(['RegionName', 'State']).apply(interpolate_group).reset_index(drop=True)

# Display the result
us_census_complete

,Year,RegionName,State,Geography,Total Under 5 years,Total 5 to 9 years,Total 10 to 14 years,Total 15 to 29 years,Total 20 to 24 years,Total 25 to 29 years,...,Total high school graduate,Total some college or associate's degree,Total bachelor's degree or higher,Total graduate or professional degree,Unemployment rate,Moved within same county,Moved from different county within same state,Moved from different state,Moved from abroad,Public Transport
0,2000-01-01,Ada County,Idaho,0500000US16001,7.0,7.7,7.4,6.6,6.6,7.5,...,28.6,50.7,9.5,11.2,NaN,39653.0,9609.0,15865.0,1090.0,895.0
1,2001-01-01,Ada County,Idaho,0500000US16001,7.0,7.7,7.4,6.6,6.6,7.5,...,28.6,50.7,9.5,11.2,NaN,39653.0,9609.0,15865.0,1090.0,895.0
2,2002-01-01,Ada County,Idaho,0500000US16001,7.0,7.7,7.4,6.6,6.6,7.5,...,28.6,50.7,9.5,11.2,NaN,39653.0,9609.0,15865.0,1090.0,895.0
3,2003-01-01,Ada County,Idaho,0500000US16001,7.0,7.7,7.4,6.6,6.6,7.5,...,28.6,50.7,9.5,11.2,NaN,39653.0,9609.0,15865.0,1090.0,895.0
4,2004-01-01,Ada County,Idaho,0500000US16001,7.0,7.7,7.4,6.6,6.6,7.5,...,28.6,50.7,9.5,11.2,NaN,39653.0,9609.0,15865.0,1090.0,895.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14156,2012-01-01,Yuma County,Arizona,0500000US04027,7.5,7.4,7.7,7.9,8.6,6.6,...,42.2,35.5,3.4,4.6,13.8,23094.0,3229.0,9135.0,2069.0,431.0
14157,2013-01-01,Yuma County,Arizona,0500000US04027,7.7,7.3,7.3,7.6,8.6,6.9,...,26.7,55.0,1.9,4.6,12.4,18720.0,3687.0,7057.0,2226.0,330.0
14158,2014-01-01,Yuma County,Arizona,0500000US04027,7.6,7.1,7.3,7.2,8.4,7.1,...,28.8,46.6,3.1,4.6,10.3,22026.0,3843.0,8736.0,3262.0,1138.0
14159,2015-01-01,Yuma County,Arizona,0500000US04027,7.3,7.0,7.1,7.1,8.7,7.2,...,28.8,46.6,3.1,4.6,12.0,23633.0,1949.0,6860.0,2816.0,984.0
14160,2016-01-01,Yuma County,Arizona,0500000US04027,7.3,7.8,6.3,7.0,8.5,6.9,...,28.8,46.6,3.1,4.6,10.3,26195.0,3423.0,9678.0,4607.0,2659.0

In [394]:
us_census_complete.head()

,Year,RegionName,State,Geography,Total Under 5 years,Total 5 to 9 years,Total 10 to 14 years,Total 15 to 29 years,Total 20 to 24 years,Total 25 to 29 years,...,Total high school graduate,Total some college or associate's degree,Total bachelor's degree or higher,Total graduate or professional degree,Unemployment rate,Moved within same county,Moved from different county within same state,Moved from different state,Moved from abroad,Public Transport
0,2000-01-01,Ada County,Idaho,0500000US16001,7.0,7.7,7.4,6.6,6.6,7.5,...,28.6,50.7,9.5,11.2,NaN,39653.0,9609.0,15865.0,1090.0,895.0
1,2001-01-01,Ada County,Idaho,0500000US16001,7.0,7.7,7.4,6.6,6.6,7.5,...,28.6,50.7,9.5,11.2,NaN,39653.0,9609.0,15865.0,1090.0,895.0
2,2002-01-01,Ada County,Idaho,0500000US16001,7.0,7.7,7.4,6.6,6.6,7.5,...,28.6,50.7,9.5,11.2,NaN,39653.0,9609.0,15865.0,1090.0,895.0
3,2003-01-01,Ada County,Idaho,0500000US16001,7.0,7.7,7.4,6.6,6.6,7.5,...,28.6,50.7,9.5,11.2,NaN,39653.0,9609.0,15865.0,1090.0,895.0
4,2004-01-01,Ada County,Idaho,0500000US16001,7.0,7.7,7.4,6.6,6.6,7.5,...,28.6,50.7,9.5,11.2,NaN,39653.0,9609.0,15865.0,1090.0,895.0

In [399]:
us_census_complete.to_csv('us_census_complete.csv', index=False)

In [405]:
final

,GEOID,Year,RegionName,State,population,poverty.rate,renter.occupied.households,pct.renter.occupied,median.gross.rent,median.household.income,...,low.flag,imputed,subbed,RegionID,SizeRank,RegionType,Metro,StateCodeFIPS,MunicipalCodeFIPS,ZHVI
0,2100,2016,Haines Borough,Alaska,2560,1.32,342,30.95,868.0,58750,...,0,0,1,1073,3112,county,NaN,2,100,0.000
1,1001,2008,Autauga County,Alabama,49584,7.52,4593,22.45,779.0,51463,...,0,0,0,1524,904,county,"Montgomery, AL",1,1,1957993.489
2,1001,2009,Autauga County,Alabama,49584,7.52,4783,22.45,779.0,51463,...,0,0,0,1524,904,county,"Montgomery, AL",1,1,1908526.012
3,1001,2011,Autauga County,Alabama,55221,9.28,5040,26.08,883.0,51281,...,0,0,0,1524,904,county,"Montgomery, AL",1,1,1771719.315
4,1001,2012,Autauga County,Alabama,55221,9.28,5107,26.08,883.0,51281,...,0,0,0,1524,904,county,"Montgomery, AL",1,1,1779734.674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11683,56041,2016,Uinta County,Wyoming,20930,10.81,2195,26.95,641.0,56569,...,0,0,0,760,1852,county,"Evanston, WY",56,41,2258164.400
11684,56043,2013,Washakie County,Wyoming,8400,10.08,974,26.25,605.0,47652,...,0,0,0,2593,2673,county,NaN,56,43,1821669.197
11685,56043,2014,Washakie County,Wyoming,8400,10.08,988,26.25,605.0,47652,...,0,0,0,2593,2673,county,NaN,56,43,1837394.906
11686,56043,2015,Washakie County,Wyoming,8400,10.08,1002,26.25,605.0,47652,...,0,0,0,2593,2673,county,NaN,56,43,1905471.802
11687,56043,2016,Washakie County,Wyoming,8400,10.08,1016,26.25,605.0,47652,...,0,0,0,2593,2673,county,NaN,56,43,2003172.800

In [403]:
#us_census_complete['Year'] = us_census_complete['Year'].dt.year
#final['Year'] = final['Year'].dt.year
super_final1 = pd.merge(final, us_census_complete, on=['Year', 'RegionName', 'State'], how='inner')
super_final1

,GEOID,Year,RegionName,State,population,poverty.rate,renter.occupied.households,pct.renter.occupied,median.gross.rent,median.household.income,...,Total high school graduate,Total some college or associate's degree,Total bachelor's degree or higher,Total graduate or professional degree,Unemployment rate,Moved within same county,Moved from different county within same state,Moved from different state,Moved from abroad,Public Transport
0,1003,2005,Baldwin County,Alabama,171997,8.84,15715,22.54,788.0,48918,...,34.7,32.2,10.7,7.4,NaN,18345.0,6985.0,9680.0,644.0,309.000000
1,1003,2006,Baldwin County,Alabama,171997,8.84,16593,22.54,788.0,48918,...,34.7,32.2,10.7,7.4,NaN,18345.0,6985.0,9680.0,644.0,309.000000
2,1003,2007,Baldwin County,Alabama,171997,8.84,17472,22.54,788.0,48918,...,34.7,32.2,10.7,7.4,NaN,18345.0,6985.0,9680.0,644.0,309.000000
3,1003,2008,Baldwin County,Alabama,171997,8.84,18351,22.54,788.0,48918,...,34.7,32.2,10.7,7.4,NaN,18345.0,6985.0,9680.0,644.0,309.000000
4,1003,2009,Baldwin County,Alabama,171997,8.84,19230,22.54,788.0,48918,...,34.7,32.2,10.7,7.4,NaN,18345.0,6985.0,9680.0,644.0,309.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2553,55141,2012,Wood County,Wisconsin,74012,7.20,8703,25.54,617.0,48961,...,30.2,49.3,8.3,6.0,6.7,NaN,NaN,NaN,NaN,65.000000
2554,55141,2013,Wood County,Wisconsin,74012,7.20,8820,25.54,617.0,48961,...,41.5,30.1,11.2,6.0,7.0,NaN,NaN,NaN,NaN,56.482546
2555,55141,2014,Wood County,Wisconsin,74012,7.20,8936,25.54,617.0,48961,...,36.7,34.4,21.0,6.0,4.8,NaN,NaN,NaN,NaN,47.988364
2556,55141,2015,Wood County,Wisconsin,74012,7.20,9053,25.54,617.0,48961,...,36.7,34.4,21.0,6.0,4.9,NaN,NaN,NaN,NaN,39.494182
2557,55141,2016,Wood County,Wisconsin,74012,7.20,9170,25.54,617.0,48961,...,36.7,34.4,21.0,6.0,3.3,NaN,NaN,NaN,NaN,31.000000

In [404]:
super_final

,GEOID,Year,RegionName,State,population,poverty.rate,renter.occupied.households,pct.renter.occupied,median.gross.rent,median.household.income,...,Total high school graduate,Total some college or associate's degree,Total bachelor's degree or higher,Total graduate or professional degree,Unemployment rate,Moved within same county,Moved from different county within same state,Moved from different state,Moved from abroad,Public Transport
0,1003,2010,Baldwin County,Alabama,182265,9.61,20109,27.48,874.0,50706,...,34.7,32.2,10.7,7.4,10.1,18345.0,6985.0,9680.0,644.0,NaN
1,1003,2012,Baldwin County,Alabama,195121,9.63,21386,28.48,879.0,50254,...,31.4,51.0,3.7,10.0,8.9,21697.0,5472.0,5185.0,1211.0,309.0
2,1003,2013,Baldwin County,Alabama,195121,9.63,22025,28.48,879.0,50254,...,32.6,30.2,11.6,NaN,7.5,19038.0,4373.0,7797.0,1438.0,NaN
3,1003,2014,Baldwin County,Alabama,195121,9.63,22663,28.48,879.0,50254,...,33.6,28.9,8.6,NaN,7.1,10040.0,5126.0,5613.0,98.0,NaN
4,1003,2015,Baldwin County,Alabama,195121,9.63,23302,28.48,879.0,50254,...,NaN,NaN,NaN,NaN,4.6,12482.0,4514.0,4428.0,63.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,55141,2012,Wood County,Wisconsin,74012,7.20,8703,25.54,617.0,48961,...,30.2,49.3,8.3,6.0,6.7,NaN,NaN,NaN,NaN,65.0
1245,55141,2013,Wood County,Wisconsin,74012,7.20,8820,25.54,617.0,48961,...,41.5,30.1,11.2,NaN,7.0,NaN,NaN,NaN,NaN,NaN
1246,55141,2014,Wood County,Wisconsin,74012,7.20,8936,25.54,617.0,48961,...,36.7,34.4,21.0,NaN,4.8,NaN,NaN,NaN,NaN,NaN
1247,55141,2015,Wood County,Wisconsin,74012,7.20,9053,25.54,617.0,48961,...,NaN,NaN,NaN,NaN,4.9,NaN,NaN,NaN,NaN,NaN
1248,55141,2016,Wood County,Wisconsin,74012,7.20,9170,25.54,617.0,48961,...,NaN,NaN,NaN,NaN,3.3,NaN,NaN,NaN,NaN,31.0

In [395]:
us_census_merge.head()

,Geography,Total Under 5 years,Total 5 to 9 years,Total 10 to 14 years,Total 15 to 29 years,Total 20 to 24 years,Total 25 to 29 years,Total 30 to 34 years,Total 35 to 39 years,Total 40 to 44 years,...,Total high school graduate,Total some college or associate's degree,Total bachelor's degree or higher,Total graduate or professional degree,Unemployment rate,Moved within same county,Moved from different county within same state,Moved from different state,Moved from abroad,Public Transport
0,0500000US16001,7.0,7.7,7.4,6.6,6.6,7.5,7.2,6.3,8.3,...,28.6,50.7,9.5,11.2,8.3,39653.0,9609.0,15865.0,1090.0,895.0
1,0500000US16001,6.9,7.9,7.2,6.5,6.6,7.3,7.3,6.6,7.6,...,28.4,46.8,11.4,11.4,9.2,46193.0,9476.0,16584.0,1920.0,554.0
2,0500000US16001,6.4,7.5,7.6,6.5,6.6,7.3,7.3,7.1,7.1,...,25.8,50.2,13.4,12.5,6.7,34463.0,14291.0,14545.0,1338.0,960.0
3,0500000US16001,6.2,6.8,8.2,6.8,6.7,6.6,7.1,6.8,7.0,...,30.7,48.0,13.0,NaN,4.9,46808.0,7299.0,18322.0,1549.0,1103.0
4,0500000US16001,6.0,7.9,7.1,6.8,6.4,7.0,7.0,6.7,7.5,...,29.2,50.3,9.4,NaN,4.1,48539.0,8266.0,14418.0,2103.0,853.0